<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd allgroup-head">
                <span>全部星球</span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
        	<div class="allgroup-content">
                        <%for(var i in data.groups){%>
                                <div class="allgroup-group">
                                    <a href="groups/<%=data.groups[i].group_id%>">
                                        <button type="button" style="background-image:url(<%=data.groups[i].g_image%>);"></button>
                                        <div class="allgroup-text">
                                          <h3><%=data.groups[i].g_name%></h3>
                                          <span><%=data.groups[i].g_introduction%></span>
                                        </div>
                                    </a>
                                </div>
                        <%}%>
        	</div>
                <div id="pages"></div>
        </div>
	</div>
</div>
<script id="group-list" type="text/html">
{{each groups as value i}}
<div class="allgroup-group">
    <a href="/groups/{{value.group_id}}">
        <button type="button" style="background-image:url({{value.g_image}});"></button>
        <div class="allgroup-text">
          <h3>{{value.g_name}}</h3>
          <span>{{value.g_introduction}}</span>
        </div>
    </a>
</div>
{{/each}}
</script>
<%- include base/baseJS.ejs %>
<script>
  (function(){
    var users={
      loading:HJLoading,
      pagecount:1,
      pageallnum:<%=data.page_count%>,
      download:function(){
                var self=this;
                function demo(curr){
                        curr=curr || 1;
                        global.getData('/allGroup/more?pagecount='+curr, function(data) {
                            if((curr || 1)<=data.data.page_count){
                                var compiled=template('group-list',data.data);
                            }
                            //插入数据
                            //var temp=$("#group-body").html()
                            $(".allgroup-content").html(compiled);
                            laypage({
                                cont: document.getElementById('pages'),
                                pages: data.data.page_count, //通过后台拿到的总页数
                                curr: data.data.current_page, //当前页
                                jump: function(obj, first){ //触发分页后的回调
                                    if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                        demo(obj.curr);
                                    }
                                }
                            });
                            //rebind();
                        });
                };
                    demo();
      },
      init:function(){
        this.download();
        //wuanHeadFun.title("全部星球");
      }
    }
    users.init();
  })()
</script>
<%- include base/footerMobile.ejs %>