<%- include base/headerMobile.ejs %>
<div class="main main-page">
	<div class="mask"></div>
	<div class="location clearfix">
		<h1><a href="/allGroup" title="">全部星球</a></h1>
		<a href="/createGroup" title="创建星球">创建星球</a>
	</div>
	<%if(result.lists.length > 0){%>
	<div class="planet">
		<ul class="clearfix" id="planetList">
			<% result.lists.forEach(function(item) { %>
			<li class="planet-item clearfix ">
				<div class="planet-pic">
					<a href="/group/<%=item.id%>" title=""><img src="<%-item.g_image%>" alt=""></a>
				</div>
				<div class="planet-info">
					<h2 class="text-ellipsis"><a href="/group/<%=item.id%>" title=""><%=item.name%></a></h2>
					<p>
						<%-item.g_introduction%>
					</p>
				</div>
			</li>
			<% }); %>
		</ul>
	</div>
	<div class="page-turn">
		<button type="button" class="unCBtn">上一页</button>
		<span><%=result.currentPage%>/<%=result.pageCount%></span>
		<%if(result.pageCount == 1){%>
		<button type="button" class="unCBtn">下一页</button>
		<%}else{%>
		<button type="button">下一页</button>
		<%}%>
	</div>
	<%}else{%>
	<div class="emptyPage">
		目前还没有星球哦~~
	</div>
	<%}%>
</div>
<%- include base/baseJSMobile.ejs %>
<script type="text/html" id="planet-list">
	{{each lists as item i}}
	<li class="planet-item clearfix">
		<div class="planet-pic">
			<a href="/group/{{item.id}}" title="{{item.name}}"><img src="{{#item.g_image}}" alt=""></a>
		</div>
		<div class="planet-info">
			<h2 class="text-ellipsis"><a href="/group/{{item.id}}" title="{{item.name}}">{{item.name}}</a></h2>
			<p>{{#item.g_introduction}}</p>
		</div>
	</li>
	{{/each}}
</script>
<script>
	var all_planet = {
		pre: $(".page-turn").find('button').first(),
		next: $(".page-turn").find('button').last(),
		page: $(".page-turn").find('span').eq(0),
		main: $("#planetList"),
		loading: $(".loading"),
		currentpage: 1,
		pageCount: 0,
		ClientData: function() {
			this.currentpage = parseInt("<%=result.currentPage%>");
			this.pageCount = parseInt("<%=result.pageCount%>");
		},
		getServerData: function(param, cb) {
			global.getData("/api/getPlanetAll",param,cb);
		},
		bindEvent: function() {
			var self = this;
			self.pre.on("touchend", function(event) {
				if (self.currentpage == 1) {
					// sweetAlert('错误', '当前页是第一页', 'error');
					return;
				} else {
					self.loading.show();
					self.getServerData({
						currentpage: self.currentpage - 1
					}, function(data) {
						if (data.ret == 200 && data.data && data.data.lists.length > 0) {
							if (self.currentpage == self.pageCount) {
								self.next.removeClass('unCBtn');
							}
							self.currentpage -= 1;
							var compiled = template("planet-list", data.data);
							self.main.html(compiled);
							self.page.text(data.data.currentPage + '/' + data.data.pageCount);
							self.loading.hide();
							if (data.data.currentPage == 1) {
								self.pre.addClass('unCBtn');
							}
							$(window).scrollTop(0);
						} else {
							self.loading.hide();
							sweetAlert('错误', '数据请求失败', 'error');
						}
					});
				}
			});
			self.next.on("touchend", function(event) {

				if (self.currentpage == self.pageCount) {
					//sweetAlert('错误', '当前页是最后一页', 'error');
					return;
				} else {
					self.loading.show();
					self.getServerData({
						currentpage: self.currentpage + 1
					}, function(data) {
						if (data.ret == 200 && data.data && data.data.lists.length > 0) {
							if (self.currentpage == 1) {
								self.pre.removeClass('unCBtn');
							}
							self.currentpage += 1;
							var compiled = template("planet-list", data.data);
							self.main.html(compiled);
							self.page.text(data.data.currentPage + '/' + data.data.pageCount);
							self.loading.hide();
							if (data.data.currentPage == data.data.pageCount) {
								self.next.addClass('unCBtn');
							}
							$(window).scrollTop(0);
						} else {
							self.loading.hide();
							sweetAlert('错误', '数据请求失败', 'error');
						}
					});
				}

			});
		},
		init: function() {
			this.ClientData();
			this.bindEvent();
		}
	}
	all_planet.init();
</script>
<%- include base/footerMobile.ejs %>