<%- include base/headerMobile.ejs %>
<div class="main main-page">
	<div class="location clearfix">
		<h1><a href="/group/<%=result.groupID%>" title=""class="groupH"><%=result.groupName%></a></h1>
		<%if(creator){%>
		<a href="/group/<%=result.groupID%>/set" title="" class="gSet icon"></a>
		<% } %>
		<h2>
			<p>
			创建者：<%=result.creatorName%>
			</p>
		</h2>
		
	</div>
	<%if(result.private=="1" && (result.identity=="03" || result.identity=="04")){%>
	<div class="blockPage">
		<p>您还未加入，无法浏览内容</p>
		<img src="../images/sadface_mobile.png">
		<button type="button" id="joinBtn" class="locBtn">+加入</button>
	</div>
	<%} else if(result.posts.length > 0){%>
	<div class="chapter-col">
		<% result.posts.forEach(function(item) { %>
		<div class="chapter">
			<h2 class="text-ellipsis">
				<%if(parseInt(item.sticky)){%>
				<i class="cha-top">置顶</i>
				<%}%>
				<a href="/topic/<%=item.postID%>" title=""><%-item.title%></a>
			</h2>
			<div class="chapter-info">
				<span class="text-ellipsis"><a href="#?" title=""><%=item.nickname%></a></span>
				<span class="cha-icon"></span>
				<span class="text-ellipsis"><a href="/group/<%=result.groupID%>" title=""><%=result.groupName%></a></span>
				<span class="cha-time"><%=item.createTime%></span>
			</div>
			<div class="chapter-text">
				<%-item.text%>
			</div>
			<%if(item.image.length >0){%>
			<div class="chapter-img clearfix">
				<%for(var i=0;i<item.image.length;i++){%>
				<img src="<%-item.image[i]%>?imageView2/1/w/200/h/200" alt="">
				<%}%>
			</div>
			<%}%>
		</div>
		<% }); %>
	</div>
	<div class="page-turn">
		<%if(result.currentPage == 1){%>
		<button type="button" class="unCBtn" id="pre">上一页</button>
		<%}else{%>
		<button type="button" id="pre">上一页</button>
		<%}%>
		<span><%=result.currentPage%>/<%=result.pageCount%></span>
		<%if(result.currentPage == result.pageCount){%>
		<button type="button" class="unCBtn" id="next">下一页</button>
		<%}else{%>
		<button type="button" id="next">下一页</button>
		<%}%>
	</div>
	<%}else{%>
	<div class="emptyPage">
		星球空空，可以注水~~
	</div>
	<%}%>
</div>
<%- include base/baseJSMobile.ejs %>
<script type="text/html" id="listtemplate">
	{{each posts as item i}}
	<div class="chapter">
		<h2 class="text-ellipsis">
			{{if item.sticky>0}}<i class="cha-top">置顶</i> {{/if}}
			<a href="/topic/{{item.postID}}" title="{{#item.title}}">{{#item.title}}</a>
		</h2>
		<div class="chapter-info">
			<span class="text-ellipsis"><a href="#?" title="">{{item.nickname}}</a></span>
			<span class="cha-icon"></span>
			<span class="text-ellipsis"><a href="/group/{{groupID}}" title="">{{groupName}}</a></span>
			<span class="cha-time">{{item.createTime}}</span>
		</div>
		<div class="chapter-text">{{#item.text}}</div>
		{{if item.image.length}} {{include 'imgtemplate' item}} {{/if}}
	</div>
	{{/each}}
</script>
<script type="text/html" id="imgtemplate">
	<div class="chapter-img clearfix">
		{{each image as item i}}
		<img src="{{item}}?imageView2/1/w/200/h/200" alt=""> {{/each}}
	</div>
</script>
<script type="text/javascript">
	(function() {
		var group = {
			pre: $("#pre"),
			next: $("#next"),
			page: $(".page-turn").find('span').eq(0),
			main: $(".chapter-col"),
			joinBtn: $("#joinBtn"),
			loading: $(".loading"),
			isjoin: 0,
			pageCount: parseInt("<%=result.pageCount%>"),
			getServerData: function(param, cb) {
				global.getData("/api/getGroupPlanetShow", param, cb);
			},
			getJoinPData: function(param, cb) {
				global.getData("/api/joinPlant", param, cb);
			},
			getJoinBtnVal: function(param, cb) {
				global.getData("/api/isJoinP", param, cb);
			},
			<%if(user){%>
			setJoinBtnVal: function() {
				var self = this;
				self.getJoinBtnVal({
					groupid: parseInt("<%=result.groupID%>")
				}, function(data) {
					if (data.ret == 200 && data.data) {
						if (data.data.code == 1) {
							self.joinBtn.text('+发帖');
							self.isjoin = 1; //已加入
						}
					}
				});
			},
			<%}%>
			updateByPage:function(){
				var self = this;
				var pageNow = global.getPageNow();
				self.loading.show();
				self.getServerData({
					currentpage: pageNow,
					groupid: parseInt("<%=result.groupID%>")
				}, function(data) {
					if (pageNow != global.getPageNow()) {
						return;
					}
					if (data.ret == 200 && data.data && data.data.posts.length > 0) {
						var compiled = template("listtemplate", data.data);
						self.main.html(compiled);
						self.page.text(data.data.currentPage + '/' + data.data.pageCount);
						self.pre.removeAttr('class');
						self.next.removeAttr('class');
						if (data.data.currentPage == 1) {
							self.pre.addClass('unCBtn');
						}
						if (data.data.currentPage == data.data.pageCount) {
							self.next.addClass('unCBtn')
						}
						self.loading.hide();
						$('.mainContainer').scrollTop(0);
					} else {
						self.loading.hide();
						sweetAlert('错误', '数据获取失败', 'error');
					}
				});
			},
			bindEvent: function() {
				var self = this;
				self.joinBtn.on("touchend", function(event) {
					event.preventDefault();
					<%if(user){%>
					if (self.isjoin == 1) {
						window.location.href = '/group/<%=result.groupID%>/post';
					} else{
						self.getJoinPData({
							groupid: parseInt("<%=result.groupID%>")
						}, function(data) {
							if (data.ret == 200 && data.data && data.data.code == 1) {
								sweetAlert({
									title: '提示',
									text: '加入成功',
									type: 'success',
									timer: 3000
								});
								self.joinBtn.text('+发帖'); //加入成功
								self.isjoin = 1;
							} else {
								sweetAlert('错误', '加入星球失败', 'error');
							}
						});
					}
					<%}else{%>
					window.location.href = '/login';
					<%}%>
				});
				global.pageTurning.apply(self,[self.pre,self.next,self.pageCount,self.updateByPage]);
			},
			init: function() {
				<%if(user){%>
				this.setJoinBtnVal();
				<%}%>
				this.bindEvent();
			}
		}
		group.init();
	})();
</script>
<%- include base/footerMobile.ejs %>