<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd">
                <span></span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
            <div class="group-msg">
            	<div class="group-img">
                        <button type="button" style="background-image:url(<%=result.g_image%>);"></button>
                </div>
                <h2 class="group-head"><%=result.g_name%></h2>
                <div class="group-number">
                	<span><%=result.user_num%> 成员</span>
	                <span><%=result.post_num%> 话题</span>
                </div>
                <div class="group-intro">
                	<%=result.g_introduction%>
                </div>
                <div class="group-creater">
                	星球主：<%=result.creator_name%>
                </div>
                <%if(result.identity=='01'){%>
                <a href="/groups/<%=result.group_id%>/set">
                    <button class="group-set">
                       星球设置
                    </button>
                </a>
                <%}%>
                <%if(result.identity=='02'){%>
                    <button class="group-set leave-btn">
                        退出星球
                    </button>
                <%}%>
                <%if(result.identity=='03'||result.identity=='04'){%>
                    <button class="group-set join-btn">
                        加入星球
                    </button>
                <%}%>
            </div>
            <%if(result.private==1&&(result.identity=='03'||result.identity=='04')){%>
                <form id="join-form">
                    <div class="verifi-msg">
                        <span>验证信息</span>
                        <input type="text" name="" id="message">
                        <button type="submit" id="joinperson">申请加入</button>
                    </div>
                </form>
                <div class="message">加入该星球后方可浏览内容</div>
            <%}else{%>
            <%if(result.posts.length==0){%>
                    <div class="group-nopost">还没有帖子~</div>
            <%}else{%>
            <div id="group-body">
            
            </div>
            <div id="pages"></div>
            <%}%>
            <%}%>

            <%if(result.identity=='01'||result.identity=='02'){%>
        	<a id="create_post" class="group-public"><span>+</span></a>
            <%}%>
        </div>
	</div>
</div>
<%if(result.posts.length>0){%>
<script id="post-list" type="text/html">
{{each posts as value i}}
<div class="group-post">
                <div class="group-post-img">
                    <button type="button" style="background-image:url({{value.users.profile_picture}});"></button>
                </div>
                <div class="group-post-msg">
                    <span class="creater-name">{{value.users.user_name}}</span>
                    <span> 发表于 </span>
                    <span class="group-name"><%=result.g_name%></span> 
                    <span>{{value.posts.create_time}}</span>
                </div>
                <a href="/posts/{{value.posts.post_id}}">
                <h3 class="group-post-title">
                {{if value.posts.sticky==1}}
                <span class="group-sign">置顶</span>
                {{/if}}
                {{if value.posts.digest==1}}
                <span class="group-sign">加精</span>
                {{/if}}
                {{if value.posts.lock==1}}
                <span class="group-sign">锁定</span>
                {{/if}}
                {{value.posts.p_title}}
                </h3>
                <div class="group-post-content">{{value.posts.p_text}}</div>
                {{if value.posts.image.length>0}}
                <div class="group-post-image">
                    <button type="button" style="background-image:url({{value.posts.image[0]}});"></button>
                    <button type="button" style="background-image:url({{value.posts.image[1]}});"></button>
                    <button type="button" style="background-image:url({{value.posts.image[2]}});"></button>
                </div>
                {{/if}}
                </a>
                <div class="group-post-btn">
                    <a href="/posts/{{value.posts.post_id}}">
                    <span class="replied">评论</span>
                    <span>{{value.posts.replied_num}}</span>
                    </a>

                    <span class="approved" data-postid="{{value.posts.post_id}}">点赞</span>
                    <span id="approved-{{value.posts.post_id}}">{{value.posts.approved_num}}</span>

                    <span class="collected" data-postid="{{value.posts.post_id}}">收藏</span>
                    <span id="collected-{{value.posts.post_id}}">{{value.posts.collected_num}}</span>
                </div>
</div>
{{/each}}
</script>
<%}%>
<%- include base/baseJS.ejs %>
<script type="text/javascript">
        (function(){
            var users={
                pagecount:1,
                quitgroup:function(){
                    $('.leave-btn').on('click',function(){
                            //退出星球代码
                            global.getData('/groups/<%=result.group_id%>/quit',function(data){
                                if(data.data.code==1){
                                    sweetAlert('成功',data.msg,'success');
                                    var t=setTimeout(function(){
                                  window.location.href="/groups/<%=result.group_id%>";
                                },5000);
                                }else{
                                        sweetAlert('失败',data.msg,'error');
                                }
                            });
                    });
                },
                download:function(){
                     var self=this;
                     function demo(curr){
                        curr=curr || 1;
                        global.getData('/groups/<%=result.group_id%>/more?pagecount='+curr, function(data) {
                            if((curr || 1)<=data.data.page_count){
                                var compiled=template('post-list',data.data);
                            }
                            //插入数据
                            //var temp=$("#group-body").html()
                            $("#group-body").html(compiled);
                            //点赞
                            $(".approved").on("click",function(event){
                                //console.log($(this).data("postid"));
                                var id=$(this).data("postid");
                                global.subData('/approve',{postid : id}, function(data) {
                                    if (data.ret == 200 && data.data) {
                                        if(data.data.code==1){
                                            swal('点赞成功');
                                            console.log($("#approved-"+id).html());
                                            var num=parseInt($("#approved-"+id).html())+1;
                                            $("#approved-"+id).html(num);
                                        }else{
                                            swal(data.data.msg);
                                            console.log($("#approved-"+id).html());
                                            var num=parseInt($("#approved-"+id).html())-1;
                                            $("#approved-"+id).html(num);
                                        }
                                    }else{
                                        sweetAlert('错误', '点赞失败', 'error');
                                    }
                                });
                            });
                            //收藏
                            $(".collected").on("click",function(e){
                                //
                                var id=$(this).data("postid");
                                global.subData('/collect',{postid : id}, function(data){
                                        if (data.ret == 200 && data.data) {
                                            if(data.data.code==1){
                                                swal('收藏成功');
                                                console.log($("#collected-"+id).html());
                                                var num=parseInt($("#collected-"+id).html())+1;
                                                $("#collected-"+id).html(num);
                                            }else{
                                                swal(data.data.msg);
                                                console.log($("#collected-"+id).html());
                                                var num=parseInt($("#collected-"+id).html())-1;
                                                $("#collected-"+id).html(num);
                                            }
                                        }else{
                                            sweetAlert('错误', '收藏失败', 'error');
                                        }
                                });
                            })
                            laypage({
                                cont: document.getElementById('pages'),
                                pages: data.data.page_count, //通过后台拿到的总页数
                                curr: data.data.current_page, //当前页
                                jump: function(obj, first){ //触发分页后的回调
                                    if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                        demo(obj.curr);
                                    }
                                }
                            });
                            //rebind();
                        });
                    };
                    demo();
                },
                bindEvent: function() {
                    var self=this;
                    $("#create_post").on("click", function() {
                        window.location.href += "/post";
                    });
                    //退出星球
                    $(".leave-btn").on("click",function(){
                        //var groupid=<%=result.group_id%>;
                        global.getData('/groups/<%=result.group_id%>/quit',function(data){
                            if (data.ret == 200 && data.data) {
                                if(data.data.code==1){
                                    swal(data.msg);
                                    var t=setTimeout(function(){
                                          window.location.href="/groups/<%=result.group_id%>";
                                        },2000);
                                }else{
                                    swal(data.msg);
                                }
                            }else{
                                swal("退出星球失败");
                            }
                        })
                    });
                    //加入星球
                    $(".join-btn").on("click",function(){
                        //console.log("hahaha")
                        var private='<%=result.private%>';
                        //判断星球是私密还是公共
                        //console.log(private)
                        if(private=='0'){
                            //公共
                            //console.log("iheij")
                            global.subData('/api/groups/<%=result.group_id%>/members',{},function(data){
                                console.log(data)
                                if(data.ret == 200 && data.data){
                                    console.log(data+"hh")
                                    if(data.data){
                                        swal(data.msg);
                                        var t=setTimeout(function(){
                                          window.location.href="/groups/<%=result.group_id%>";
                                        },2000);
                                    }else{
                                        swal(data.msg);
                                    }
                                }else{
                                    swal("加入星球失败");
                                }
                            });
                        }else{
                            console.log("私密");
                            //私密
                            //self.joinPenson();
                            $("#join-form").trigger("submit");
                        }
                    });
                },
                verifi:function(){
                    if($("#message").val().length>50){
                      sweetAlert('格式错误','申请信息不能超过50个字','warning');
                      return false;
                    }
                    return true;
                },
                joinPenson:function(){
                    var self=this;
                    $("#join-form").submit(function(e){
                      e.preventDefault();
                      if(self.verifi()){
                        /*self.loading.start({
                            loadingTPLId : 0,
                            target : $(".joinPensonalG-content"),
                            loadingId : 'self'
                          });*/
                        var text=$("#message").val();
                        global.getData('/joinPensonalGroup/sub',{
                          group_id:<%=result.group_id%>,
                          text:text
                          },function(data){
                          /*self.loading.stop('self');*/
                          if(data.data.code==1){
                            sweetAlert('成功',data.msg,'success');
                            //转向星球详情页，这里暂时转到临时页
                            var t=setTimeout(function(){
                                window.location.href="/groups/<%=result.group_id%>";
                              },3000);
                          }else{
                            sweetAlert('提示', data.msg, 'warning');
                          }
                        });
                      }
                  });
                },
                init:function(){
                    this.bindEvent();
                    this.download();
                    this.quitgroup();
                    this.joinPenson();
                }
            };
            users.init();
        })()
</script>
<%- include base/footerMobile.ejs %>