<%- include base/header.ejs %>
<div class="content">
	<div class="section">
		<div class="section-hd">
                <span></span>
                <!-- 以防万一在这留了一个可以在右边扩展的div-->
                <div class="slide-controls">
                </div> 
        </div>
        <div class="section-content">
            <div class="group-msg">
            	<div class="group-img">
                        <button type="button" style="background-image:url(<%=result.g_image%>);"></button>
                </div>
                <h2 class="group-head"><%=result.g_name%></h2>
                <div class="group-number">
                	<span><%=result.user_num%> 成员</span>
	                <span><%=result.post_num%> 话题</span>
                </div>
                <div class="group-intro">
                	<%=result.g_introduction%>
                </div>
                <div class="group-creater">
                	星球主：<%=result.creator_name%>
                </div>
                <%if(result.identity=='01'){%>
                <a href="/groups/<%=result.group_id%>/set">
                    <button class="group-set">
                       星球设置
                    </button>
                </a>
                <%}%>
                <%if(result.identity=='02'){%>
                    <button class="group-set leave-btn">
                        退出星球
                    </button>
                <%}%>
                <%if(result.identity=='03'){%>
                    <button class="group-set">
                        加入星球
                    </button>
                <%}%>
            </div>
            <%if(result.posts.length==0){%>
                    <div class="group-nopost">还没有帖子~</div>
            <%}else{%>
            <div id="group-body">
            
            </div>
            <div id="pages"></div>
            <%}%>
        	<a id="create_post" class="group-public"><span>+</span></a>
        </div>
	</div>
</div>
<%if(result.posts.length>0){%>
<script id="post-list" type="text/html">
{{each posts as value i}}
<div class="group-post">
                <div class="group-post-img">
                    <button type="button" style="background-image:url({{value.users.profile_picture}});"></button>
                </div>
                <div class="group-post-msg">
                    <span class="creater-name">{{value.users.user_name}}</span>
                    <span> 发表于 </span>
                    <span class="group-name"><%=result.g_name%></span> 
                    <span>{{value.posts.create_time}}</span>
                </div>
                <a href="/posts/{{value.posts.post_id}}">
                <h3 class="group-post-title">
                {{if value.posts.sticky==1}}
                <span class="group-sign">置顶</span>
                {{/if}}
                {{if value.posts.digest==1}}
                <span class="group-sign">加精</span>
                {{/if}}
                {{if value.posts.lock==1}}
                <span class="group-sign">锁定</span>
                {{/if}}
                {{value.posts.p_title}}
                </h3>
                <div class="group-post-content">{{value.posts.p_text}}</div>
                {{if value.posts.image.length>0}}
                <div class="group-post-image">
                    <button type="button" style="background-image:url({{value.posts.image[0]}});"></button>
                    <button type="button" style="background-image:url({{value.posts.image[1]}});"></button>
                    <button type="button" style="background-image:url({{value.posts.image[2]}});"></button>
                </div>
                {{/if}}
                </a>
                <div class="group-post-btn">
                    <a href="/posts/{{value.posts.post_id}}">
                    <span class="replied">评论</span>
                    <span>{{value.posts.replied_num}}</span>
                    </a>

                    <span class="approved" data-postid="{{value.posts.post_id}}">点赞</span>
                    <span id="approved-{{value.posts.post_id}}">{{value.posts.approved_num}}</span>

                    <span class="collected" data-postid="{{value.posts.post_id}}">收藏</span>
                    <span id="collected-{{value.posts.post_id}}">{{value.posts.collected_num}}</span>
                </div>
</div>
{{/each}}
</script>
<%}%>
<%- include base/baseJS.ejs %>
<script type="text/javascript">
        (function(){
            var users={
                loading:HJLoading,
                pagecount:1,
                pageallnum:<%=result.page_count%>,
                quitgroup:function(){
                    $('.leave-btn').on('click',function(){
                            //退出星球代码
                            global.getData('/groups/<%=result.group_id%>/quit',function(data){
                                if(data.data.code==1){
                                    sweetAlert('成功',data.msg,'success');
                                    var t=setTimeout(function(){
                                  window.location.href="/groups/<%=result.group_id%>";
                                },5000);
                                }else{
                                        sweetAlert('失败',data.msg,'error');
                                }
                            });
                    });
                },
                download:function(){
                     var self=this;
                     function demo(curr){
                        curr=curr || 1;
                        global.getData('/groups/<%=result.group_id%>/more?pagecount='+curr, function(data) {
                            if((curr || 1)<=data.data.page_count){
                                var compiled=template('post-list',data.data);
                            }
                            //插入数据
                            //var temp=$("#group-body").html()
                            $("#group-body").html(compiled);
                            //点赞
                            $(".approved").on("click",function(event){
                                //console.log($(this).data("postid"));
                                var id=$(this).data("postid");
                                global.subData('/approve',{postid : id}, function(data) {
                                    if (data.ret == 200 && data.data) {
                                        if(data.data.code==1){
                                            swal('点赞成功');
                                            console.log($("#approved-"+id).html());
                                            var num=parseInt($("#approved-"+id).html())+1;
                                            $("#approved-"+id).html(num);
                                        }else{
                                            swal(data.data.msg);
                                            console.log($("#approved-"+id).html());
                                            var num=parseInt($("#approved-"+id).html())-1;
                                            $("#approved-"+id).html(num);
                                        }
                                    }else{
                                        sweetAlert('错误', '点赞失败', 'error');
                                    }
                                });
                            });
                            //收藏
                            $(".collected").on("click",function(e){
                                //
                                var id=$(this).data("postid");
                                global.subData('/collect',{postid : id}, function(data){
                                        if (data.ret == 200 && data.data) {
                                            if(data.data.code==1){
                                                swal('收藏成功');
                                                console.log($("#collected-"+id).html());
                                                var num=parseInt($("#collected-"+id).html())+1;
                                                $("#collected-"+id).html(num);
                                            }else{
                                                swal(data.data.msg);
                                                console.log($("#collected-"+id).html());
                                                var num=parseInt($("#collected-"+id).html())-1;
                                                $("#collected-"+id).html(num);
                                            }
                                        }else{
                                            sweetAlert('错误', '收藏失败', 'error');
                                        }
                                });
                            })
                            laypage({
                                cont: document.getElementById('pages'),
                                pages: data.data.page_count, //通过后台拿到的总页数
                                curr: data.data.current_page, //当前页
                                jump: function(obj, first){ //触发分页后的回调
                                    if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                                        demo(obj.curr);
                                    }
                                }
                            });
                            //rebind();
                        });
                    };
                    demo();
                },
                bindEvent: function() {
                    $("#create_post").on("click", function() {
                        window.location.href += "/post";
                    });
                },
                init:function(){
                    this.bindEvent();
                    this.download();
                    this.quitgroup();
                }
            };
            users.init();
        })()
</script>
<%- include base/footerMobile.ejs %>