<%- include base/header.ejs %>
        <div class="main main-page">
            <div class="location clearfix">
                <h1><a href="/" title="首页">首页</a></h1>
            </div>   
            <%if(result.posts.length > 0){%>
            <div class="chapter-col">
            <% result.posts.forEach(function(item) { %>
                <div class="chapter">
                    <h2><a href="/topic/<%=item.postID%>" title="<%-item.title%>"><%-item.title%></a></h2>
                    <div class="chapter-text"><%-item.text%></div>
                    <div class="chapter-info">
                        <span class="text-ellipsis"><a href="#?" title="<%=item.nickname%>"><%=item.nickname%></a></span>
                        <span class="postIn">发表于</span>
                        <span class="text-ellipsis"><a href="/group/<%=item.groupID%>" title="<%=item.groupName%>"><%=item.groupName%></a></span>
                        <span class="cha-time"><%=item.createTime%></span>
                    </div>
                </div>
             <% }); %>
            </div>
            <div class="page-turn">
                <button type="button" class="unCBtn" id="pre">上一页</button>
                <span><%=result.currentPage%>/<%=result.pageCount%></span>
                <%if(result.pageCount == 1){%>
                <button type="button" class="unCBtn" id="next">下一页</button>
                <%}else{%>
                <button type="button" id="next">下一页</button>
                <%}%>
            </div> 
            <%}else{%>
            <div class="emptyPage">
                目前还没有帖子哦~~
            </div>
            <%}%>
        </div> 
<%- include base/baseJS.ejs %>
	    <script type="text/html" id="listtemplate">
	    	{{each posts as item i}}
        		<div class="chapter">
					<h2><a href="/topic/{{item.postID}}" title="{{#item.title}}">{{#item.title}}</a></h2>
					<div class="chapter-text">{{#item.text}}</div>
					<div class="chapter-info">
						<span class="text-ellipsis"><a href="#?" title="{{item.nickname}}">{{item.nickname}}</a></span>
						<span class="postIn">发表于</span>
						<span class="text-ellipsis"><a href="/group/{{item.groupID}}" title="{{item.groupName}}">{{item.groupName}}</a></span>
						<span class="cha-time">{{item.createTime}}</span>
					</div>
				</div>
    		{{/each}}
	    </script>
		<script>
			var index = {
				pre: $("#pre"),
				next: $("#next"),
				page: $(".page-turn").find('span').eq(0),
				main: $(".chapter-col"),
				chapter_text: $(".chapter-text"),
				nav_home: $(".navbar-option").find('.navbar-option-item').eq(0),
				loading: $(".loading"),
				currentpage: 1,
				pageCount: 0,
				ClientData: function() {
					this.currentpage = parseInt("<%=result.currentPage%>");
					this.pageCount = parseInt("<%=result.pageCount%>");
				},
				navActive:function(){
                    this.nav_home.addClass("navbar-active");
                },
				getServerData: function(param, cb) {
					$.getJSON("api/getindex", param,
						function(data) {
							cb(data);
						});
				},
				bindEvent: function() {
					var self = this;
					self.pre.on("click", function(event) {
						event.preventDefault();
						if (self.currentpage == 1) {
							// sweetAlert('错误', '当前页是第一页', 'error');
							return;
						} else {
							self.loading.show();
							self.getServerData({
								currentpage: self.currentpage - 1
							}, function(data) {
								if (data.ret == 200 && data.data && data.data.posts.length > 0) {
									self.currentpage -= 1;
									var compiled = template("listtemplate", data.data);
									self.main.html(compiled);
									self.page.text(data.data.currentPage + '/' + data.data.pageCount);
									self.loading.hide();
									self.next.removeClass('unCBtn');
                                    if (data.data.currentPage == 1) {
                                        self.pre.addClass('unCBtn');
                                    } 
									$(window).scrollTop(0);
								}
							});
						}
					});
					self.next.on("click", function(event) {
						event.preventDefault();
						if (self.currentpage == self.pageCount) {
							//sweetAlert('错误', '当前页是最后一页', 'error');
							return;
						} else {
							self.loading.show();
							self.getServerData({
								currentpage: self.currentpage + 1
							}, function(data) {
								if (data.ret == 200 && data.data && data.data.posts.length > 0) {
									self.currentpage += 1;
									var compiled = template("listtemplate", data.data);
									self.main.html(compiled);
									self.page.text(data.data.currentPage + '/' + data.data.pageCount);
									self.loading.hide();
									self.pre.removeClass('unCBtn');
                                    if (data.data.currentPage == data.data.pageCount) {
                                        self.next.addClass('unCBtn');
                                    }
									$(window).scrollTop(0);
								}
							});
						}
					})
				},
				init: function() {
					this.ClientData();
					this.bindEvent();
					this.navActive();
				}
			}
			index.init();
		</script>
		<%- include base/footer.ejs %>