<%- include base/header.ejs %>
	<div class="main main-page">
		<div class="main-mask"></div>
		<div class="location clearfix">
			<h1><a href="" title="">首页</a></h1>
		</div>
		<%if(result.posts.length > 0){%>
		<div class="chapter-col">
			<% result.posts.forEach(function(item) { %>
				<div class="chapter">
					<h2><a href="/postDetail/<%=item.postID%>" title=""><%=item.title%></a></h2>
					<div class="chapter-text"><%-item.text%></div>
					<div class="chapter-info">
						<span><a href="#?" title=""><%=item.nickname%></a></span>
						<span>发表于</span>
						<span><a href="/planetDetail/<%=item.groupID%>" title=""><%=item.groupName%></a></span>
						<span class="cha-time"><%=item.createTime%></span>
					</div>
				</div>
			<% }); %>
		</div>
		<div class="page-turn">
			<span><a href="#?" title="">上一页</a></span>
			<span><%=result.currentPage%>/<%=result.pageCount%></span>
			<span><a href="#?" title="">下一页</a></span>
		</div>
		<%}else{%>
		<div class="emptyPage">
         	目前还没有帖子哦~~
         </div>
         <%}%>
		
	</div>
	<%- include base/baseJS.ejs %>
	    <script type="text/html" id="listtemplate">
	    	 {{each posts as item i}}
        			<div class="chapter">
					<h2><a href="/postDetail/{{item.postID}}" title="">{{item.title}}</a></h2>
					<div class="chapter-text">{{#item.text}}</div>
					<div class="chapter-info">
						<span><a href="#?" title="">{{item.nickname}}</a></span>
						<span>发表于</span>
						<span><a href="/planetDetail/{{item.groupID}}" title="">{{item.groupName}}</a></span>
						<span class="cha-time">{{item.createTime}}</span>
					</div>
				</div>
    			{{/each}}
	    </script>
		<script>
			var index = {
				pre: $(".page-turn").find('a').first(),
				next: $(".page-turn").find('a').last(),
				page: $(".page-turn").find('span').eq(1),
				main: $(".chapter-col"),
				nav_home: $(".navbar-option").find('.navbar-option-item').eq(0),
				loading: $(".loading"),
				currentpage: 1,
				pageCount: 0,
				ClientData: function() {
					this.currentpage = parseInt("<%=result.currentPage%>");
					this.pageCount = parseInt("<%=result.pageCount%>");
				},
				navActive:function(){
                    this.nav_home.addClass("navbar-active");
                },
				getServerData: function(param, cb) {
					$.getJSON("api/getindex", param,
						function(data) {
							cb(data);
						});
				},
				bindEvent: function() {
					var self = this;
					self.pre.on(WuanClickEvent, function() {
						if (self.currentpage == 1) {
							sweetAlert('错误', '当前页是第一页', 'error');
						} else {
							self.loading.show();
							self.getServerData({
								currentpage: self.currentpage - 1
							}, function(data) {
								if (data.ret == 200 && data.data && data.data.posts.length > 0) {
									self.currentpage -= 1;
									var compiled = template("listtemplate", data.data);
									self.main.html(compiled);
									self.page.text(data.data.currentPage + '/' + data.data.pageCount);
									self.loading.hide();
								}
							});
						}
					});
					self.next.on(WuanClickEvent, function() {
						if (self.currentpage == self.pageCount) {
							sweetAlert('错误', '当前页是最后一页', 'error');
						} else {
							self.loading.show();
							self.getServerData({
								currentpage: self.currentpage + 1
							}, function(data) {
								if (data.ret == 200 && data.data && data.data.posts.length > 0) {
									self.currentpage += 1;
									var compiled = template("listtemplate", data.data);
									self.main.html(compiled);
									self.page.text(data.data.currentPage + '/' + data.data.pageCount);
									self.loading.hide();
								}
							});
						}
					})
				},
				init: function() {
					this.ClientData();
					this.bindEvent();
					this.navActive();
				}
			}
			index.init();
		</script>
		<%- include base/footer.ejs %>