<%- include base/headerMobile.ejs %>
<div class="main main-page">
	<div class="location clearfix">
		<h1><a href="/" title="">首页</a></h1>
	</div>
	<%if(result.posts.length > 0){%>
	<div class="chapter-col">
		<% result.posts.forEach(function(item) { %>
		<div class="chapter">
			<h2 class="text-ellipsis"><a href="/topic/<%=item.postID%>" title="<%-item.title%>"><%-item.title%></a></h2>
			<div class="chapter-info">
				<span class="text-ellipsis"><a href="#?" title=""><%=item.nickname%></a></span>
				<span class="cha-icon"></span>
				<span class="text-ellipsis"><a href="/group/<%=item.groupID%>" title=""><%=item.groupName%></a></span>
				<span class="cha-time"><%=item.createTime%></span>
			</div>
			<div class="chapter-text">
				<%-item.text%>
			</div>
			<%if(item.image.length >0){%>
			<div class="chapter-img clearfix">
				<%for(var i=0;i<item.image.length;i++){%>
				<img src="<%=item.image[i]%>?imageView2/1/w/200/h/200" alt="">
				<%}%>
			</div>
			<%}%>
		</div>
		<% }); %>
	</div>
	<div class="page-turn">
		<%if(result.currentPage == 1){%>
		<button type="button" class="unCBtn" id="pre">上一页</button>
		<%}else{%>
		<button type="button" id="pre">上一页</button>
		<%}%>
		<span><%=result.currentPage%>/<%=result.pageCount%></span>
		<%if(result.currentPage == result.pageCount){%>
		<button type="button" class="unCBtn" id="next">下一页</button>
		<%}else{%>
		<button type="button" id="next">下一页</button>
		<%}%>
	</div>
	<%}else{%>
	<div class="emptyPage">
		目前还没有星球哦~~
	</div>
	<%}%>
</div>
<%- include base/baseJSMobile.ejs %>
<script type="text/html" id="listtemplate">
	{{each posts as item i}}
	<div class="chapter">
		<h2 class="text-ellipsis"><a href="/topic/{{item.postID}}" title="{{#item.title}}">{{#item.title}}</a></h2>
		<div class="chapter-info">
			<span class="text-ellipsis"><a href="#?" title="">{{item.nickname}}</a></span>
			<span class="cha-icon"></span>
			<span class="text-ellipsis"><a href="/group/{{item.groupID}}" title="">{{item.groupName}}</a></span>
			<span class="cha-time">{{item.createTime}}</span>
		</div>
		<div class="chapter-text">{{#item.text}}</div>
		{{if item.image.length}} {{include 'imgtemplate' item}} {{/if}}
	</div>
	{{/each}}
</script>
<script type="text/html" id="imgtemplate">
	<div class="chapter-img clearfix">
		{{each image as item i}}
		<img src="{{item}}?imageView2/1/w/200/h/200" alt=""> {{/each}}
	</div>
</script>
<script>
	(function() {
		var index = {
			pre: $("#pre"),
			next: $("#next"),
			page: $(".page-turn").find('span').eq(0),
			main: $(".chapter-col"),
			loading: $(".loading"),
			pageCount: parseInt("<%=result.pageCount%>"),
			getServerData: function(param, cb) {
				global.getData("/api/getindex", param, cb);
			},
			updateByPage:function(){
				var self = this;
				var pageNow = global.getPageNow();
				self.loading.show();
				self.getServerData({
					currentpage: pageNow
				}, function(data) {
					if (pageNow != global.getPageNow()) {
						return;
					}
					if (data.ret == 200 && data.data && data.data.posts.length > 0) {
						var compiled = template("listtemplate", data.data);
						self.main.html(compiled);
						self.page.text(data.data.currentPage + '/' + data.data.pageCount);
						self.pre.removeAttr('class');
						self.next.removeAttr('class');
						if (data.data.currentPage == 1) {
							self.pre.addClass('unCBtn');
						}
						if (data.data.currentPage == data.data.pageCount) {
							self.next.addClass('unCBtn')
						}
						self.loading.hide();
						$('.mainContainer').scrollTop(0);
					} else {
						self.loading.hide();
						sweetAlert('错误', '数据获取失败', 'error');
					}
				});
			},
			bindEvent: function() {
				var self = this;
				global.pageTurning.apply(self,["#pre","#next",self.pageCount,self.updateByPage]);
			},
			init: function() {+
				this.bindEvent();
			}
		}
		index.init();
	})();
</script>
<%- include base/footerMobile.ejs %>