<%- include base/header.ejs %>
<div class="main main-page">
    <div class="location clearfix">
        <h1><a href="/message" title="">消息中心</a></h1>
        <div class="location-plus">
            <i class="filter"></i>
            <ul class="filter-list text-white">
                <li class="filter-all">全部</li>
                <li class="filter-read">已读</li>
                <li class="filter-notread">未读</li>
            </ul>
        </div>
    </div>
    <%if(result.code == 1){%>
    <div class="message-col">
        <% result.info.forEach(function(item) { %>

        <div id="<%=item.id %>" class="message clearfix vertical-container">
            <div class="meg-brief">
                <img src="<%=item.user_image%>">
                <div class="meg-content">
                    <h2 class="text-ellipsis text-link"><%=item.nickname%></h2>
                    <%if(item.messagetype == '1') { %>
                    <div class="meg-content-row clearfix">
                        <p class="text-grey">申请加入：</p>
                        <a class="text-link text-ellipsis" href="../group/<%=item.messageInfo.group_id%>"><%=item.messageInfo.group_name%></a>
                    </div>
                    <div class="meg-content-row clearfix">
                        <p class="text-grey">申请信息：</p>
                        <p class="text-link text-ellipsis"><%=item.messageInfo.text%></p>
                    </div>   
                    <% } else if(item.messagetype == '2') { %>
                    <div class="meg-content-row clearfix">
                        <a class="text-link text-ellipsis" href="../group/<%=item.messageInfo.group_id%>"><%=item.messageInfo.group_name%></a>
                    </div>
                    <% } %>
                 
                </div>
            </div>
            <%if(item.messagetype == '1') { 
                if(item.messageInfo.status == '1') { %>
                    <button class="meg-button agree" type="button">同意</button>
                    <button class="meg-button disagree" type="button">拒绝</button>
                <% } else if(item.messageInfo.status == '2') {%>
                    <button class="meg-right-text" type="button">已同意</button>
                <% } else if(item.messageInfo.status == '3') {%>
                    <button class="meg-right-text" type="button">已拒绝</button>
                <% } %>
            <% } else if(item.messagetype == '2') { %>
                <button class="meg-right-text" type="button"><%=item.messageInfo.information%></button>
            <% } %>

        </div>


        <% }) %>
    </div>
    <div class="page-turn">
        <%if(result.currentPage == 1){%>
        <button type="button" class="unCBtn" id="pre">上一页</button>
        <%}else{%>
        <button type="button" id="pre">上一页</button>
        <%}%>
        <span><%=result.currentPage%>/<%=result.pageCount%></span>
        <%if(result.currentPage == result.pageCount){%>
        <button type="button" class="unCBtn" id="next">下一页</button>
        <%}else{%>
        <button type="button" id="next">下一页</button>
        <%}%>
    </div>
    <%}else{%>
    <div class="emptyPage">
        您还没有消息哦
    </div>
    <%} %>
</div>
<%- include base/baseJS.ejs %>
<script type="text/html" id="listtemplate">
    {{each info as item i}}
    <div id="{{item.id}}" class="message clearfix vertical-container">
        <div class="meg-brief">
            <img src="{{item.user_image}}">
            <div class="meg-content">
                <h2 class="text-ellipsis text-link">{{item.nickname}}</h2>
                {{if item.messagetype == '1' }}
                    <div class="meg-content-row clearfix">
                        <p class="text-grey">申请加入：</p>
                        <a class="text-link text-ellipsis" href="../group/{{item.messageInfo.group_id}}">{{item.messageInfo.group_name}}</a>
                    </div>
                    <div class="meg-content-row clearfix">
                        <p class="text-grey">申请信息：</p>
                        <p class="text-link text-ellipsis">{{item.messageInfo.text}}</p>
                    </div>   
                {{else if item.messagetype == '2' }}
                    <div class="meg-content-row clearfix">
                        <a class="text-link text-ellipsis" href="../group/{{item.messageInfo.group_id}}">{{item.messageInfo.group_name}}</a>
                    </div>
                {{/if}}
             
            </div>
        </div>
        {{if item.messagetype == '1' }}
            {{if item.messageInfo.status == '1' }}
                <button class="meg-button agree" type="button">同意</button>
                <button class="meg-button disagree" type="button">拒绝</button>
            {{else if item.messageInfo.status == '2' }}
                <button class="meg-right-text" type="button">已同意</button>
            {{else if item.messageInfo.status == '3' }}
                <button class="meg-right-text" type="button">已拒绝</button>
            {{/if}}
        {{else if item.messagetype == '2' }}    
            <button class="meg-right-text" type="button">{{item.messageInfo.information}}</button>
        {{/if}}

    </div>
    {{/each}}

</script>




<script type="text/javascript">
    (function() {
        var message = {
            pre: $("#pre"),
            next: $("#next"),
            page: $(".page-turn").find('span').eq(0),
            main: $(".message-col"),
            loading: $(".loading"),
            pageCount: parseInt("<%=result.pageCount%>"),
            filterType: global.getUrlParam('status'),
            getServerData: function(param, cb) {
                global.getData("/api/getMessageShow", param, cb);
            },
            postApplyPrivate: function(param, cb) {
                global.getData("/api/applyPrivateGroup");
            },
            rebindButton: function() {
                var self = this;

                //策略模式
                var ChangeStrategies = {
                    //输入Jquery对象button和其父元素message
                    agree2disable: function(button, message) {
                        message.children(".meg-button.disagree").remove();
                        button.removeClass("agree");
                        button.addClass("meg-right-text");
                        button.html("已同意");
                        button.unbind("click");                       
                    },
                    disagree2disable: function(button, message) {
                        message.children(".meg-button.agree").remove();
                        button.removeClass("disagree");
                        button.addClass("meg-right-text");
                        button.html("已拒绝");
                        button.unbind("click");  
                    }

                }; 
                $(".meg-button.agree").each(function(){
                    var thisButton = $(this);
                    var thisMessage = thisButton.parent();
                    thisButton.on("click", function () {
                        self.loading.show();
                        global.subData("/api/processApplyPrivateGroup",{
                            messageID: parseInt(thisMessage.eq(0).attr('id')),
                            operation: 1
                        },function(data){
                            self.loading.hide();
                            if (data.ret == 200 && data.data) {
                                if (data.data.code == 1) {
                                    ChangeStrategies.agree2disable(thisButton, thisMessage);
                                } else {
                                    sweetAlert('提示', data.data.msg, 'warning');
                                }
                            } else {
                                sweetAlert('错误', data.msg, 'error');
                            }
                        });
                    });
                });
                $(".meg-button.disagree").each(function(){
                    var thisButton = $(this);
                    var thisMessage = thisButton.parent();
                    thisButton.on("click", function () {
                        self.loading.show();
                        global.subData('/api/processApplyPrivateGroup',{
                            messageID: parseInt(thisMessage.eq(0).attr('id')),
                            operation: 0
                        },function(data){
                            self.loading.hide();
                            if (data.ret == 200 && data.data) {
                                if (data.data.code == 1) {
                                    ChangeStrategies.disagree2disable(thisButton, thisMessage)
                                } else {
                                    sweetAlert('提示', data.data.msg, 'warning');
                                }
                            } else {
                                sweetAlert('错误', data.msg, 'error');
                            }
                        });
                    });
                });
            },
            updateByPage:function(){
                var self = this;
                var pageNow = global.getPageNow();
                var statusNow = global.getUrlParam('status');
                self.filterType = statusNow || 1;
                self.loading.show();
                self.getServerData({
                    currentpage: pageNow,
                    userId: <%=user.userID%>,
                    status: self.filterType
                }, function(data) {
                    if(data.ret == 200 && data.currentPage == undefined) {
                        self.main.html("<div class='emptyPage'>您还没有消息哦</div>")
                        $('.page-turn').hide();
                        self.loading.hide();
                    }
                    if (pageNow != global.getPageNow()) {
                        self.main.html(compiled);
                        return;
                    }
                    if (data.ret == 200 && data.data && data.data.info.length > 0) {
                        $('.page-turn').show();
                        $('.filter-list').children('li').removeClass('filter-clicked');
                        $('.filter-list').children('li').eq(parseInt(self.filterType - 1)).addClass('filter-clicked');
                        var compiled = template("listtemplate", data.data);
                        self.main.html(compiled);
                        self.rebindButton();
                        self.page.text(data.data.currentPage + '/' + data.data.pageCount);
                        self.pre.removeAttr('class');
                        self.next.removeAttr('class');
                        if (data.data.currentPage == 1) {
                            self.pre.addClass('unCBtn');
                        }
                        if (data.data.currentPage == data.data.pageCount) {
                            self.next.addClass('unCBtn')
                        }
                        self.loading.hide();
                        $(window).scrollTop(0);
                    } else {
                        self.loading.hide();
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                });
            },
            bindFilterEvent: function() {
                /*绑定过滤器列表显示隐藏*/
                var filter = $('.filter');
                var filterList = $('.filter-list');
                var num = 0;
                filterList.hide(); 
                filter.on("click", function() {
                    num++;
                    if(num % 2 == 1) {
                        filterList.show();
                    } else {
                        filterList.hide();
                    }
                });

                var self = this;
                var all = $('.filter-all');
                var read = $('.filter-read');
                var notread = $('.filter-notread');

                var bindFilterEventByStatus = function(Jobject, status) {
                    Jobject.on("click", function() {
                        self.filterType = status;
                        $(this).siblings("*").removeClass("filter-clicked")    
                        $(this).addClass("filter-clicked");
                        var newURL = location.pathname + '?status=' + status;
                        history.pushState(null,'',newURL);   
                        global.changeEverPushed();
                        self.updateByPage();        
                    })
                };
                bindFilterEventByStatus(all, 1);
                bindFilterEventByStatus(read, 2);
                bindFilterEventByStatus(notread, 3);
            },
            bindEvent: function() {
                var self = this;
                global.pageTurning.apply(self,["#pre","#next",self.pageCount,self.updateByPage]);
                //绑定过滤器事件
                this.bindFilterEvent();    
            },
            init: function() {
                this.bindEvent();
                this.rebindButton();
            }
        }
        message.init();
    })();
</script>
<%- include base/footer.ejs %>