<%- include base/headerMobile.ejs %>
<div class="main main-page">
	<div class="location clearfix">
		<% if (user && (user.userID == userid)) { %>
		<h1><a href="/uGroup/<%=userid%>/moreGroups" title="">我加入的星球</a></h1>
		<% } else { %>
		<h1><a href="/uGroup/<%=userid%>/moreGroups" title=""><%=ownerName%>加入的星球</a></h1>
		<% } %>
	</div>
	<%if(cResult.groups.length > 0 || jResult.groups.length > 0){%>
	<div class="myJoinMd">
		<%if(cResult.groups.length > 0){%>
		<div class="myPGroup" id="myCreate">
		<% } else { %>
		<div class="myPGroup" id="myCreate" style="display:none;">
		<%}%>
			<% if (user && (user.userID == userid)) { %>
			<h2>我创建的星球</h2>
			<% } else { %>
			<h2><%=ownerName%>创建的星球</h2>
			<% } %>
			<ul class="planetTags clearfix">
				<% cResult.groups.forEach(function(item) { %>
				<li class="planetTag"><a href="/group/<%=item.id%>" class="text-ellipsis"><%=item.name%></a></li>
				<% }); %>
			</ul>
		</div>
		<%if(jResult.groups.length > 0){%>
		<div class="myPGroup" id="myJoind">
		<% } else { %>
		<div class="myPGroup" id="myJoind" style="display:none;">
		<% } %>
			<% if (user && (user.userID == userid)) { %>
			<h2>我加入的星球</h2>
			<% } else { %>
			<h2><%=ownerName%>加入的星球</h2>
			<% } %>
			<ul class="planetTags clearfix">
				<% jResult.groups.forEach(function(item) { %>
				<li class="planetTag"><a href="/group/<%=item.id%>" class="text-ellipsis"><%=item.name%></a></li>
				<% }); %>
			</ul>
		</div>
	</div>
	<% var page = Math.max(cResult.pageCount,jResult.pageCount)%>
	<div class="page-turn">
		<%if(cResult.currentPage == 1){%>
		<button type="button" class="unCBtn" id="pre">上一页</button>
		<% } else { %>
		<button type="button" id="pre">上一页</button>
		<% } %>
		<span><%=cResult.currentPage%>/<%=page%></span>
		<%if(cResult.currentPage == page){%>
		<button type="button" class="unCBtn" id="next">下一页</button>
		<% } else { %>
		<button type="button" id="next">下一页</button>
		<% } %>
	</div>
	<% } else { %>
	<div class="emptyPage">
		目前还没有任何星球哦~~
	</div>
	<% } %>
</div>
<%- include base/baseJSMobile.ejs %>
<%if(cResult.groups.length > 0 || jResult.groups.length > 0){%>
<script type="text/html" id="Groupstemplate">
	{{each groups as item i}}
	<li class="planetTag"><a href="/group/{{item.id}}" title="" class="text-ellipsis">{{item.name}}</a></li>
	{{/each}}
</script>
<script>
	(function() {
		var moreGroups = {
			pre: $("#pre"),
			next: $("#next"),
			page: $(".page-turn").find('span').eq(0),
			myCreateMD: $("#myCreate"),
			myJoindMD: $("#myJoind"),
			myJoind: $("#myJoind").find('.planetTags'),
			myCreate: $("#myCreate").find('.planetTags'),
			loading: $(".loading"),
			pageCount: <%=page%>,
			createPageCount: <%=cResult.pageCount%>,
			joinPageCount: <%=jResult.pageCount%>,
			getCreateData: function(param, cb) {
				global.getData("/api/getCreateGroup", param, cb);
			},
			getJoindData: function(param, cb) {
				global.getData("/api/getJoindGroup", param, cb);
			},
			setPageCom:function(){
				var self = this;
				var pageNow = global.getPageNow();
				self.page.text(pageNow + '/' + self.pageCount);
				self.pre.removeAttr('class');
				self.next.removeAttr('class');
				if (pageNow == 1) {
					self.pre.addClass('unCBtn');
				}
				if (pageNow == self.pageCount) {
					self.next.addClass('unCBtn')
				}
				self.loading.hide();
				$('.mainContainer').scrollTop(0);
			},
			errorTip:function(){
				self.loading.hide();
				sweetAlert('错误', '数据获取失败', 'error');
			},
			updateByPage:function(){
				var self = this;
				var pageNow = global.getPageNow();
				self.loading.show();
				if (pageNow>self.createPageCount) {
					self.getJoindData({
						user_id: parseInt("<%=userid%>"),
						pn: pageNow
					},function(data){
						if (pageNow != global.getPageNow()) {
							return;
						}
						if (data.ret == 200 && data.data) {
							self.myCreateMD.css('display', 'none');
							self.myCreate.html('');
							var compiled = template("Groupstemplate", data.data);
							self.myJoind.html(compiled);
							self.setPageCom();
						} else{
							self.errorTip();
						}
					});
				} else if (pageNow>self.joinPageCount) {
					self.getCreateData({
						user_id: parseInt("<%=userid%>"),
						pn: pageNow
					},function(data){
						if (pageNow != global.getPageNow()) {
							return;
						}
						if (data.ret == 200 && data.data) {
							self.myJoindMD.css('display', 'none');
							self.myJoind.html('');
							var compiled = template("Groupstemplate", data.data);
							self.myCreate.html(compiled);
							self.setPageCom();
						} else{
							self.errorTip();
						}
					});
				} else{
					$.when($.getJSON(
						"/api/getCreateGroup",
						{user_id: parseInt("<%=userid%>"),pn: pageNow}
					),$.getJSON(
						'/api/getJoindGroup',
						{user_id: parseInt("<%=userid%>"),pn: pageNow}
					)).done(function(cdata,jdata){
						if (pageNow != global.getPageNow()) {
							return;
						}
							cdata = cdata[0];
							jdata = jdata[0];
						if (cdata.ret == 200 && jdata.ret == 200 && cdata.data && jdata.data) {
							var Ccompiled = template("Groupstemplate", cdata.data);
							var Jcompiled = template("Groupstemplate", jdata.data);
							self.myCreate.html(Ccompiled);
							self.myJoind.html(Jcompiled);
							self.myCreateMD.css('display', 'block');
							self.myJoindMD.css('display', 'block');
							self.setPageCom();
						} else{
							self.errorTip();
						}
					}).fail(function(){
						self.errorTip();
					});
				}
			},
			bindEvent: function() {
				var self = this;
				global.pageTurning.apply(self,[self.pre,self.next,self.pageCount,self.updateByPage]);
			},
			init: function() {
				this.bindEvent();
			}
		}
		moreGroups.init();
	})();
</script>
<% } %>
<%- include base/footerMobile.ejs %>