<%- include base/headerMobile.ejs %>
        <div class="main main-page">
            <div class="mask"></div>
            <div class="location clearfix">
                <h1><a href="/myGroup/<%=userid%>" title="">我的星球</a></h1>
            </div> 
            <div class="myPGroups" style="display:none;">
                <div class="myPGroup" id="myJoind" style="display:none;">
                    <h2>我加入的星球 <a href="/moreGroups/<%=userid%>" title=""></a></h2>
                    <ul class="planetTags clearfix">
                    </ul>
                </div>
                <div class="myPGroup" id="myCreate" style="display:none;">
                    <h2>我创建的星球 <a href="/moreGroups/<%=userid%>" title=""></a></h2>
                    <ul class="planetTags clearfix">
                    </ul>
                </div>
            </div>
            <%if(result.posts.length > 0){%>
            <div class="chapter-col">
                <% result.posts.forEach(function(item) { %>
                <div class="chapter">
                    <h2 class="text-ellipsis"><a href="/topic/<%=item.postID%>" title=""><%-item.title%></a></h2>
                    <div class="chapter-info">
                        <span class="text-ellipsis"><a href="#?" title=""><%=item.nickname%></a></span>
                        <span class="cha-icon"></span>
                        <span class="text-ellipsis"><a href="/group/<%=item.groupID%>" title=""><%=item.groupName%></a></span>
                        <span class="cha-time"><%=item.createTime%></span>
                    </div>
                    <div class="chapter-text"><%-item.text%></div>
                    <%if(item.image.length >0){%>
                    <div class="chapter-img clearfix">
                        <%for(var i=0;i<item.image.length;i++){%>
                        <img src="<%-item.image[i]%>?imageView2/1/w/200/h/200" alt="">
                        <%}%>
                    </div>
                    <%}%>
                </div>
                <% }); %>
            </div>
            <div class="page-turn">
                <button type="button" class="unCBtn" id="pre">上一页</button>
                <span><%=result.currentPage%>/<%=result.pageCount%></span>
                <%if(result.pageCount == 1){%>
                <button type="button" class="unCBtn" id="next">下一页</button>
                <%}else{%>
                <button type="button" id="next">下一页</button>
                <%}%>
            </div> 
            <%}%>
            <div class="emptyPage" style="display:none;">星球空空，可以注水~~</div>
        </div>
<%- include base/baseJSMobile.ejs %>
        <script type="text/html" id="listtemplate">
            {{each posts as item i}}
                <div class="chapter">
                    <h2 class="text-ellipsis"><a href="/topic/{{item.postID}}" title="{{#item.title}}">{{#item.title}}</a></h2>
                    <div class="chapter-info">
                        <span class="text-ellipsis"><a href="#?" title="">{{item.nickname}}</a></span>
                        <span class="cha-icon"></span>
                        <span class="text-ellipsis"><a href="/group/{{item.groupID}}" title="">{{item.groupName}}</a></span>
                        <span class="cha-time">{{item.createTime}}</span>
                    </div>
                    <div class="chapter-text">{{#item.text}}</div>
                    {{if item.image.length}}
                        {{include 'imgtemplate' item}}
                    {{/if}}
                </div>
            {{/each}}
        </script>
        <script type="text/html" id="imgtemplate">
            <div class="chapter-img clearfix"> 
            {{each image as item i}}
                <img src="{{item}}?imageView2/1/w/200/h/200" alt="">
            {{/each}}  
            </div>
        </script>
        <script type="text/html" id="Groupstemplate">
            {{each groups as item i}}
                <li class="planetTag"><a href="/group/{{item.id}}" title="{{item.name}}" class="text-ellipsis">{{item.name}}</a></li>
            {{/each}}
        </script>
        <script type="text/javascript">
            var my_planet = {
                pre: $("#pre"),
                next: $("#next"),
                page: $(".page-turn").find('span').eq(0),
                main: $(".chapter-col"),
                myCreateMD:$("#myCreate"),
                myJoindMD:$("#myJoind"),
                myJoind:$("#myJoind").find('.planetTags'),
                myCreate:$("#myCreate").find('.planetTags'),
                myPGroups:$(".myPGroups"),
                emptyPage:$(".emptyPage"),
                loading: $(".loading"),
                currentpage: 1,
                pageCount: 0,
                ClientData: function() {
                    this.currentpage = parseInt("<%=result.currentPage%>");
                    this.pageCount = parseInt("<%=result.pageCount%>");
                },
                getServerData: function(param, cb) {
                    $.getJSON("/api/getMyPlanet", param,
                        function(data) {
                            cb(data);
                        });
                },
                getCreateData:function(param,cb){
                    $.getJSON("/api/getCreateGroup", param,
                        function(data) {
                            cb(data);
                        });
                },
                getJoindData:function(param,cb){
                    $.getJSON("/api/getJoindGroup", param,
                        function(data) {
                            cb(data);
                        });
                },
                setPageData:function(){
                    var self = this;
                    var flagJ = 0;
                    var flagC = 0;
                    self.getCreateData({
                        user_id:localStorage.getItem("userID")
                    },function(data){
                        if (data.ret == 200 && data.data) {
                            //console.log(data.data.groups.length);
                            if (data.data.groups.length>0) {
                                var arr = (data.data.groups.length > 2)? data.data.groups.slice(0, 2) : data.data.groups;
                                var data = {groups:arr};
                                var compiled = template("Groupstemplate", data);
                                self.myPGroups.css('display', 'block');
                                self.myCreateMD.css('display', 'block');
                                self.myCreate.html(compiled);
                            } else {
                                flagC = 1;
                                if (flagC == 1 && flagJ == 1) {
                                    self.emptyPage.css('display', 'block');
                                    self.myPGroups.remove();
                                }
                            }
                        }
                    });
                    self.getJoindData({
                        user_id:localStorage.getItem("userID")
                    },function(data){
                        if (data.ret == 200 && data.data) {
                            //console.log(data.data.groups.length);
                            if (data.data.groups.length>0) {
                                var arr = (data.data.groups.length > 4)? data.data.groups.slice(0, 4) : data.data.groups;
                                var data = {groups:arr};
                                var compiled = template("Groupstemplate", data);
                                self.myPGroups.css('display', 'block');
                                self.myJoindMD.css('display', 'block');
                                self.myJoind.html(compiled);
                            } else {
                                flagJ = 1;
                                if (flagC == 1 && flagJ == 1) {
                                    self.emptyPage.css('display', 'block');
                                    self.myPGroups.remove();
                                }
                            }
                        }
                    });
                },
                bindEvent: function() {
                    var self = this;
                    self.pre.on("touchend", function(event) {
                        event.preventDefault();
                        if (self.currentpage == 1) {
                            //sweetAlert('错误', '当前页是第一页', 'error');
                            return;
                        } else {
                            self.loading.show();
                            self.getServerData({
                                currentpage: self.currentpage - 1,
                                userId: localStorage.getItem("userID")
                            }, function(data) {
                                if (data.ret == 200 && data.data) {
                                    self.currentpage -= 1;
                                    var compiled = template("listtemplate", data.data);
                                    self.main.html(compiled);
                                    self.page.text(data.data.currentPage + '/' + data.data.pageCount);
                                    self.loading.hide();
                                    self.next.removeClass('unCBtn');
                                    if (data.data.currentPage == 1) {
                                        self.pre.addClass('unCBtn');
                                    } 
                                    $(window).scrollTop(0);
                                }
                            });
                        }
                    });
                    self.next.on("touchend", function(event) {
                        event.preventDefault();
                        if (self.currentpage == self.pageCount) {
                            //sweetAlert('错误', '当前页是最后一页', 'error');
                            return;
                        } else {
                            self.loading.show();
                            self.getServerData({
                                currentpage: self.currentpage + 1,
                                userId: localStorage.getItem("userID")
                            }, function(data) {
                                if (data.ret == 200 && data.data) {
                                    self.currentpage += 1;
                                    var compiled = template("listtemplate", data.data);
                                    self.main.html(compiled);
                                    self.page.text(data.data.currentPage + '/' + data.data.pageCount);
                                    self.loading.hide();
                                    self.pre.removeClass('unCBtn');
                                    if (data.data.currentPage == data.data.pageCount) {
                                        self.next.addClass('unCBtn');
                                    }
                                    $(window).scrollTop(0);
                                }
                            });
                        }
                    });
                },
                init: function() {
                    global.GotoIndex();
                    this.ClientData();
                    this.setPageData();
                    this.bindEvent();
                }
            }
            my_planet.init();
        </script>
<%- include base/footerMobile.ejs %>  