<!-- .. -->
<%- include base/headerMobile-default.ejs %>
<nav class="personal-navbar">
                    <button class="personal-icon-back" type="button">
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-goback">
                            </use>
                        </svg>
                    </button>
                    <div class="personal-navbar-brand">
                        <h1>
                            个人资料
                        </h1>
                    </div>
</nav>
<div class="personal-content">
           <form class="personal-form">
               <div class="personal-image">
                  <div class="img-upload-progress"></div>
                  <button type="button" id="user-image-upload" style="background-image:url(<%=result.profile_picture%>);"></button>
                  <input type="hidden" name="g_image" value="<%=result.profile_picture%>" id="g_img">
               </div>
               <div class="personal-email">
                    <label for="email" class="label-e">邮箱</label>
                    <input type="email" value="<%=result.user_email%>" id="email" disabled>
                    <% if(result.mail_checked >0){%>
                    <button type="button" id="verifibtn">已验证</button>
                    <%}else{%>
                    <button type="button" id="verifibtn-on">验证</button>
                    <%}%>
               </div>
               <div class="personal-email personal-name">
                    <label for="name" class="label-e">昵称</label>
                    <input type="text" value="<%=result.user_name%>" id="name" autocomplete="off">
               </div>
               <div class="personal-sex">
                    <label for="male" class="label-1">性别</label>
                    <input type="radio" name="sex" value="male" id="male" autocomplete="off">
                    <span>
                        <%if(result.sex==1){%>
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-pitchon" data-sex="1">
                            </use>
                        </svg>男
                        <%}else{%>
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-pitchon_not" data-sex="1">
                            </use>
                        </svg>男
                        <%}%>
                    </span>
                    <label for="female" class="label-e"></label>
                    <input type="radio" name="sex" value="male" id="female">
                    <span>
                        <%if(result.sex==2){%>
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-pitchon" data-sex="2">
                            </use>
                        </svg>女
                        <%}else{%>
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-pitchon_not" data-sex="2">
                            </use>
                        </svg>女
                        <%}%>
                    </span>
                    <label for="unknow" class="label-e"></label>
                    <input type="radio" name="sex" value="unknow" id="unknow">
                    <span>
                        <%if(result.sex==0){%>
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-pitchon" data-sex="0">
                            </use>
                        </svg>不想透露
                        <%}else{%>
                        <svg aria-hidden="true" class="icon">
                            <use xlink:href="#icon-pitchon_not" data-sex="0">
                            </use>
                        </svg>不想透露
                        <%}%>
                    </span>
               </div>
               <div class="personal-birthday">
                    <label for="year" class="label-year">生日</label>
                    <input type="text" name="sex" placeholder="如1990" value="<%=result.year%>" id="year" autocomplete="off">
                    <label for="month" class="label-month"></label>
                    <input type="text" name="sex" placeholder="如01" value="<%=result.month%>" id="month" autocomplete="off">
                    <label for="day" class="label-day"></label>
                    <input type="text" name="sex" placeholder="如01" value="<%=result.day%>" id="day" autocomplete="off">
               </div>
               <button type="submit">保存</button>
           </form>
</div>
<%- include base/baseJSMobile-default.ejs %>
<script type="text/javascript">
  (function(){
    var users={
      loading:HJLoading,
      personalForm:$(".personal-form"),
      verifibtn:$("#verifibtn"),
      year: null,
      month: null,
      day: null,
      sex: '0',
      user_name:null,
      oldname:null,
      bindTagEvent:function(){
        $(".personal-sex").children("span").on('touchend',function(e){
          e.preventDefault();
          $(this).find("use").attr("xlink:href","#icon-pitchon");
          $(this).siblings("span").find("use").attr("xlink:href","#icon-pitchon_not");
        });
      },
      ClientData: function() {
        this.year = "<%=result.year%>";
        this.month = "<%=result.month%>";
        this.day = "<%=result.day%>";
        this.sex = "<%=result.sex%>";
        this.user_name="<%=result.user_name%>";
        this.oldname="<%=result.user_name%>";
      },
      //验证填入表单的字符
      verificate:function(){
        //正则匹配数字字母汉字下划线
        var myregName = /^[0-9a-zA-Z\u4E00-\u9FA5\_]*$/;
        var name=$("#name").val();
        if(name.length==0||name.length>18){
          sweetAlert('格式错误', '请输入1-18位字符作为昵称！', 'warning');
          return false;
        }
        if (!myregName.test(name)) {
          sweetAlert('格式错误', '只允许中文、数字、字母和下划线！', 'warning');
          return false;
        }
        this.user_name = name;
        //验证性别
        var usersex;
        $(".personal-sex").children("span").each(function(){
          var sexstus=$(this).find("use").attr("xlink:href");
          if(sexstus=="#icon-pitchon"){
            usersex=$(this).find("use").attr("data-sex");
          }
        });
        this.sex=usersex;
        //验证日期
        if(!($("#year").val()) && !($("#month").val()) && !($("#day").val())){
          this.year=this.month=this.day=null;
          return true;
        }
        var d=new Date();
        var myregMonth=/^0[1-9]|1[12]$/;
        var month=$("#month").val();
        if(!myregMonth.test(month)||month.length!=2){
          sweetAlert('格式错误', '请填写正确格式的月份！', 'warning');
          return false;
        }
        this.month=month;
        var myregDay=/^0[1-9]|[12][0-9]|3[01]$/;
        var day=$("#day").val();
        if(!myregDay.test(day)||day.length!=2){
          sweetAlert('格式错误', '请填写正确格式的日期！', 'warning');
          return false;
        }
        this.day=day;
        var myregYear=/^[0-9]{4}$/;
        var year=$("#year").val();
        if(!myregYear.test(year)){
          sweetAlert('格式错误', '请填写正确格式的年份！', 'warning');
          return false;
        }
        if(year<1900||year>d.getFullYear()){
          sweetAlert('格式错误', '请填写正确的年份！', 'warning');
          return false;
        }
        this.year=year;
        return true;
      },
      bindEvent:function(){
        var self=this;
        self.personalForm.submit(function(event){
          event.preventDefault();
          if(self.verificate()){
            //self.loading.show();
            self.loading.start({
                loadingTPLId : 0,
                target : $(".personal-content"),
                loadingId : 'self'
              });
            var subdata={
              user_name:self.user_name,
              profile_picture:$("#g_img").val(),
              sex:self.sex,
              year:self.year,
              month:self.month,
              day:self.day
              };
            global.getData('/users/sub/',
              {
                user_name:self.user_name,
                profile_picture:$("#g_img").val(),
                sex:self.sex,
                year:self.year,
                month:self.month,
                day:self.day
              },function(data){
              //self.loading.hide();
              self.loading.stop('self');
              if(data.ret==200){
                if(data.data==1){
                  sweetAlert('成功',data.msg,'success');
                }else{
                  sweetAlert('提示', data.msg, 'warning');
                }
              }else{
                sweetAlert('错误', data.msg, 'error');
              }
            });


          }
        });
      },
      verifimail:function(){
        var self=this;
        function countfu(){
          $("#verifibtn-on").css("background-color","#C0C0C0");
          $("#verifibtn-on").off("touchend");
          $("#verifibtn-on").text(time+'s');
          if(time>0){
            time=time-1;
            var y=setTimeout(function(){
              countfu();
            },1000);
          }else{
            $("#verifibtn-on").css("background-color","#5677fc");
            $("#verifibtn-on").text("验证");
            $("#verifibtn-on").on("touchend",function(){
              self.loading.start({
                loadingTPLId : 0,
                target : $(".personal-content"),
                loadingId : 'self'
              });
              time=60;
              global.getData('/users/verifycomfirm',function(data){
                self.loading.stop('self');
                if(data.ret==200){
                  if(data.data.mail_check==1){
                    sweetAlert('成功','邮箱已验证成功！请刷新页面更新信息！', 'success');
                  }else{
                    global.getData('/users/verify',function(data){
                      if(data.ret==200){
                        if(data.data.code==1){
                          sweetAlert('成功',data.msg+'！请马上到邮箱完成验证~','success');
                         }else{
                          sweetAlert('提示','验证邮件发送失败，请稍后再试','success');
                          }
                        }else{
                          sweetAlert('错误', data.msg, 'error');
                        }
                      });
                  }
                }
              });
              countfu();
            });
          }
        }
        var time=60;
        $("#verifibtn-on").on("touchend",function(){
          self.loading.start({
                loadingTPLId : 0,
                target : $(".personal-content"),
                loadingId : 'self'
          });
          global.getData('/users/verify',function(data){
            self.loading.stop('self');
            if(data.ret==200){
              if(data.data.code==1){
                sweetAlert('成功',data.msg+'！请马上到邮箱完成验证~','success');
              }else{
                sweetAlert('提示','验证邮件发送失败，请稍后再试','success');
              }
            }else{
              sweetAlert('错误', data.msg, 'error');
            }
          });
          countfu();
        });
      },
      init:function(){
        this.bindEvent();
        this.bindTagEvent();
        this.ClientData();
        this.verifimail();
        wuanHeadFun.title("个人资料");
      }
    };
    users.uploader = Qiniu.uploader({
      runtimes: 'html5,flash,html4', //上传模式,依次退化
      browse_button: 'user-image-upload', //上传选择的点选按钮，**必需**
      uptoken_url: '/uptoken',
      //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
      // uptoken : '<Your upload token>',
      //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
      unique_names: true,
      // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
      // save_key: true,
      // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
      domain: 'http://7xlx4u.com1.z0.glb.clouddn.com/',
      //bucket 域名，下载资源时用到，**必需**
      //container: containerId,           //上传区域DOM ID，默认是browser_button的父元素，
      max_file_size: '100mb', //最大文件体积限制
      flash_swf_url: '/javascripts/plupload/Moxie.swf', //引入flash,相对路径
      filters: {
        mime_types: [
          //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
          {
            title: "图片文件",
            extensions: "jpg,gif,png,bmp"
          }
        ]
      },
      max_retries: 3, //上传失败最大重试次数
      dragdrop: true, //开启可拖曳上传
      //drop_element: 'editor-container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
      chunk_size: '4mb', //分块上传时，每片的体积
      auto_start: true, //选择文件后自动上传，若关闭需要自己绑定事件触发上传
      init: {
        'FilesAdded': function(up, files) {
          plupload.each(files, function(file) {
            // 文件添加进队列后,处理相关的事情
            //printLog('on FilesAdded');
          });
        },
        'BeforeUpload': function(up, file) {
          // 每个文件上传前,处理相关的事情
          //printLog('on BeforeUpload');
        },
        'UploadProgress': function(up, file) {
          // 显示进度条
          showUploadProgress(file.percent);
        },
        'FileUploaded': function(up, file, info) {
          // 每个文件上传成功后,处理相关的事情
          // 其中 info 是文件上传成功后，服务端返回的json，形式如
          // {
          //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
          //    "key": "gogopher.jpg"
          //  }
          //printLog(info);
          // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html

          var domain = up.getOption('domain');
          var res = $.parseJSON(info);
          var sourceLink = domain + res.key; //获取上传成功后的文件的Url

          // printLog(sourceLink);
          //console.log(sourceLink);
          var url = sourceLink + '?imageView2/1/w/100/h/100';
          //设置表单图片数据
          $("#g_img").val(url);
          var src = 'url(' + url + ')';
          // 设置图片为背景
          $("#user-image-upload").html("");
          $("#user-image-upload").css('background-image', src);
        },
        'Error': function(up, err, errTip) {
          //上传出错时,处理相关的事情
          sweetAlert('错误', errTip, 'error');
        },
        'UploadComplete': function() {
            //队列文件处理完毕后,处理相关的事情
            //printLog('on UploadComplete');

            // 隐藏进度条
            hideUploadProgress();
          }
          // Key 函数如果有需要自行配置，无特殊需要请注释
          //,
          // 'Key': function(up, file) {
          //     // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
          //     // 该配置必须要在 unique_names: false , save_key: false 时才生效
          //     var key = "";
          //     // do something with key here
          //     return key
          // }
      }
    });
    function showUploadProgress(progress) {
      var $progress = $(".img-upload-progress");
      var width = $(".personal-image").width();
      $progress.css('visibility', 'visible');
      $progress.width(progress * width / 100);
    }

    function hideUploadProgress() {
      var $progress = $(".img-upload-progress");
      $progress.css('visibility', 'hidden');
    }
    users.init();
  })()
</script>
<%- include base/footerMobile.ejs %>