<%- include base/header.ejs %>
        <div class="main main-page">
            <div class="main-mask"></div>
            <div class="location clearfix">
                <h1><a href="/planetAll" title="">全部星球</a></h1>
                <a href="#?" title="" id="cpBtn">创建星球</a>
            </div>
            <%if(result.lists.length > 0){%>
            <div class="planet"> 
                <ul class="clearfix">
                    <% result.lists.forEach(function(item) { %>
                        <li class="planet-item clearfix col-sm-4"> 
                            <div class="planet-pic">
                                <a href="#?" title=""><img src="images/planet-pic_03.jpg" alt=""></a>
                            </div>
                            <div class="planet-info">
                                <h2 class="text-ellipsis"><a href="/group/<%=item.id%>" title=""><%=item.name%></a></h2>
                                <p class="text-ellipsis"><%=item.num%></p>
                          </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <%}else{%>
            <div class="emptyPage">
            	目前还没有星球哦~~
            </div>
            <%}%>
            <div class="page-turn">
                <span><a href="#?" title="">上一页</a></span>
                <span><%=result.currentPage%>/<%=result.pageCount%></span>
                <span><a href="#?" title="">下一页</a></span>
            </div>
        </div>
        <%- include base/baseJS.ejs %>
        <script type="text/html" id="planet-list">
             {{each lists as item i}}
                    <li class="planet-item clearfix col-sm-4"> 
                        <div class="planet-pic">
                            <a href="#?" title=""><img src="images/planet-pic_03.jpg" alt=""></a>
                        </div>
                        <div class="planet-info">
                            <h2 class="text-ellipsis"><a href="/group/{{item.id}}" title="">{{item.name}}</a></h2>
                            <p class="text-ellipsis">{{item.num}}</p>
                        </div>
                    </li>
            {{/each}}
        </script>
        <script>
            var all_planet = {
                pre: $(".page-turn").find('a').first(),
                next: $(".page-turn").find('a').last(),
                page: $(".page-turn").find('span').eq(1),
                main: $(".planet").find('ul'),
                cpBtn: $("#cpBtn"),
                nav_planetA: $("#nav-allP").children("a"),
                loading: $(".loading"),
                createPBtn: $(".location").children("a"),
                currentpage: 1,
                pageCount: 0,
                ClientData: function() {
                   	this.currentpage = parseInt("<%=result.currentPage%>");
					this.pageCount = parseInt("<%=result.pageCount%>");
                },
                navActive:function(){
                    this.nav_planetA.addClass("navbar-active");
                },
                getServerData: function(param, cb) {
                    $.getJSON("api/getPlanetAll", param,
                        function(data) {
                            cb(data);
                        });
                },
                setCreatePBtnVal:function(){
                    if (localStorage.getItem("userName")!=null){
                        this.cpBtn.attr("href","/createPlanet");
                    } else {
                        this.cpBtn.attr("href","/login");
                    }
                },
                bindEvent: function() {
                    var self = this;
                    self.pre.on(WuanClickEvent, function(event) {
                        event.preventDefault();
                        if (self.currentpage == 1) {
                            sweetAlert('错误', '当前页是第一页', 'error');
                        } else {
                            self.loading.show();
                            self.getServerData({
                                currentpage: self.currentpage - 1
                            }, function(data) {
                                if (data.ret == 200 && data.data && data.data.lists.length > 0) {
                                    self.currentpage -= 1;
                                    var compiled = template("planet-list", data.data);
                                    self.main.html(compiled);
                                    self.page.text(data.data.currentPage + '/' + data.data.pageCount);
                                    self.loading.hide();
                                    $(window).scrollTop(0);
                                }
                            });
                        }
                    });
                    self.next.on(WuanClickEvent, function(event) {
                        event.preventDefault();
                        if (self.currentpage == self.pageCount) {
                            sweetAlert('错误', '当前页是最后一页', 'error');
                        } else {
                            self.loading.show();
                            self.getServerData({
                                currentpage: self.currentpage + 1
                            }, function(data) {
                                if (data.ret == 200 && data.data && data.data.lists.length > 0) {
                                    self.currentpage += 1;
                                    var compiled = template("planet-list", data.data);
                                    self.main.html(compiled);
                                    self.page.text(data.data.currentPage + '/' + data.data.pageCount);
                                    self.loading.hide();
                                    $(window).scrollTop(0);
                                }
                            });
                        }
                    });
                    self.createPBtn.on(WuanClickEvent,function(event){
                        event.preventDefault();
                        if (localStorage.getItem("userName")!=null){
                            window.location.href = '/createPlanet';
                        } else {
                            window.location.href = '/login';
                        }
                    });
                },
                init: function() {
                    this.ClientData();
                    //this.setCreatePBtnVal();
                    this.bindEvent();
                    this.navActive();
                }
            }
            all_planet.init();
        </script>
        <%- include base/footer.ejs %>