<%- include base/headerMobile-default.ejs %>

        <div class="default-container post-margin-down">
            <div class="postreplies">
        
            </div>
        </div>
        <div class="fixed-footer reply-footer">
            <p>可以他喵的说点啥</p>
            <div></div>
            <button>                                
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#icon-goback"></use>
                </svg>
            </button>
        </div> 

<%- include base/baseJSMobile-default.ejs %>

<script type="text/html" id="postdetails-tpl">
    <div class="postdetails">
        <div class="postdetails-header">
            <h1>{{posts.p_title}}</h1>
            <div class="postdetails-info">
                <p>{{users.user_name}}发表于{{groups.g_name}}</p>
            </div>
            <div class="postdetails-date">
                <p>{{posts.create_time}}</p>
            </div>
        </div>
        <div class="postdetails-body">
            <p>{{posts.p_text}}</p>
        </div>
        <div class="postdetails-footer">
            <div class="postdetails-buttons">
                <button>                    
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-good">
                        </use>
                    </svg>
                    {{posts.approved_num}}
                </button>
                <button>
                    <svg aria-hidden="true" class="icon">
                        <use xlink:href="#icon-home">
                        </use>
                    </svg>   
                    {{posts.collected_num}}                    
                </button>
            </div>
            <div class="postdetails-operations">
                {{if rights.sticky_right == 1}} <p id="op-setTop">置顶</p> {{/if}}
                {{if rights.lock_right == 1}} <p id="op-lock">锁定</p> {{/if}}
                {{if rights.edit_right == 1}} <p id="op-edit">编辑</p> {{/if}}
                {{if rights.delete_right == 1}} <p id="op-delete">删除</p> {{/if}}
            </div>
        </div>                
    </div>
</script>
<script type="text/html" id="reply-initial-tpl">
    <p class="postreplies-count">{{reply_count}}回复</p>
    {{each reply as item i}}
    <div class="postreply-entry">
        <div class="postreply-entry-header">
            <div class="postreply-name">
                <p>{{item.user_name}}</p>
            </div>
            <div class="postreply-date">
                <p>{{item.create_time}}</p>
            </div>
        </div>
        <div class="postreply-entry-body">
            <p>{{item.p_text}}</p>
        </div>
        <div class="postreply-entry-footer">
            <div class="postreply-operations">
                {{if item.delete_right == 1}} <p id="op-reply-delete">删除</p> {{/if}}
                <p id="op-reply-reply">回复</p>
            </div>
        </div>
    </div>  
    {{/each}}  
</script>
<script type="text/html" id="reply-tpl">
    {{each reply as item i}}
    <div class="postreply-entry">
        <div class="postreply-entry-header">
            <div class="postreply-name">
                <p>{{item.user_name}}</p>
            </div>
            <div class="postreply-date">
                <p>{{item.create_time}}</p>
            </div>
        </div>
        <div class="postreply-entry-body">
            <p>{{item.p_text}}</p>
        </div>
        <div class="postreply-entry-footer">
            <div class="postreply-operations">
                {{if item.delete_right == 1}} <p id="op-reply-delete">删除</p> {{/if}}
                <p id="op-reply-reply">回复</p>
            </div>
        </div>
    </div>  
    {{/each}}  
</script>



<script>
	(function() {
		var post = {
            loadedreplypn: 1,
            postContainer: $('.default-container'),
            postReplies: $('.postreplies'),
			getServerData: function(param, cb) {
				
			},
			bindEvent: function() {
                var self = this;
                            
			},
			init: function() {
                var self = this;
                wuanHeadFun.title("帖子详情");
                self.bindEvent();

                //加载动画
                HJLoading.start({
                    loadingId : 'loginLoading',
                });
                //请求初始数据
                //TODO: 使用某些方法规定异步请求顺序
                //TODO: 加载到头后解除dropload绑定
                global.subData("./<%= postid%>", {}, function(data) {
                    HJLoading.stop('loginLoading');
                    if (data.ret == 200 && data.data) {
                        var compiled = template("postdetails-tpl", data.data);
                        self.postContainer.html(compiled + self.postContainer.html());
                        //TODO: 这里其实有点回调地狱的感觉，想办法用某种方法解决
                        global.subData("./<%= postid%>/reply", {replypn: 1}, function(data) {
                            if (data.ret == 200 && data.data) {
                                var compiled = template("reply-initial-tpl", data.data);
                                self.postReplies.html(compiled);

                                //绑定下拉加载
                                self.postContainer.dropload({
                                    scrollArea: self.postReplies,
                                    domDown:{
                                        domClass : 'dropload-down',
                                        domRefresh : '<div class="dropload-refresh">上面有更多精彩...</div>',
                                        domLoad    : '<div class="dropload-load"><span class="loading"></span>正在努力加载中...</div>',
                                        domNoData  : '<div class="dropload-noData">再看也没有了...</div>',
                                    },

                                    loadDownFn:function(me){
                                        var result = '';
                                        global.subData("./<%= postid%>/reply", {replypn: self.loadedreplypn}, function(data) {
                                            if(self.loadedreplypn<=data.data.page_count){
                                                result += template("reply-tpl",data.data);
                                                self.loadedreplypn++;
                                            }else{
                                                me.lock();
                                                me.noData();
                                            }
                                            //插入数据
                                            $('.postreplies').append(result);
                                            me.resetload();    
                                            rebind();
                                        });
                                    }
                                });

                            } else {
                                sweetAlert('错误', '回复数据获取失败', 'error');
                            }
                        });
                    } else {
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                });



                var rebind = function() {

                };
 
			}
		}
		post.init();
	})();
</script>
<%- include base/footerMobile.ejs %>