<%- include base/header.ejs %>
	<div class="main">
		<div class="main-mask"></div>
		<div class="post">
			<h2>编辑帖子</h2>
			<form class="post-form clearfix" action="/postEdit/<%=result%>" method="post">
				<input type="text" name="" value="" class="form-control" id="post-title">
				<%if(ag&&ag.Mobile==true){%>
					
						<textarea id="textarea-mobile" class="form-control">
                            
                        </textarea>
                        <div id= "getPostVal"></div>
				<%}else{%>
					<div class="wangEditor-pc-container">
						<textarea name="" class="form-control" id="textareaPC">
                            
                        </textarea>
					</div>
				<%}%>
				<button type="submit" class="post-sub" id="post-issue">发表</button>
			</form>
		</div>
	</div>
	<%- include base/baseJS.ejs %>
	<%if(!ag.Mobile){%>
		<script src="<%-path%>javascripts/wangEditor.min.js"></script>		
	<%}%>
        <script>
            var setPost = {
                PCtext: $("#textareaPC"),
                MobileText:$("#textarea-mobile"),
                postTitle:$("#post-title"),
                getPostForEdit:function(param, cb){
                    var self = this;
                    $.ajax({
                            type: "get",
                            url: "/api/getPostForEdit",
                            async: false,
                            data: {
                                postid:<%=result%>,
                                userid:localStorage.getItem("userID")    
                            },
                            success: function(data) {
                                console && console.log(data);
                              if (data.ret == 200 && data.data && data.data.editRight == 1){
                                    if (mobile) {
                                        $("#getPostVal").html(data.data.text);
                                        self.MobileText.val($("#getPostVal").text());
                                        $("#getPostVal").html("");
                                    } else{
                                        self.PCtext.html(data.data.text);
                                    }
                                    self.postTitle.val(data.data.title);
                                }
                            },
                            error: function(x, h, r) {
                                console && console.log(x, h, r);
                            }
                    });
                },
                init:function(){
                    this.getPostForEdit();
                }
            }
          setPost.init();
        </script>
		<script>
			var editor;
			if (mobile) {
                // console.log($("#textarea-mobile").html());
				editor = $("#textarea-mobile");
			} else {
                //console.log($("#textareaPC").html());
				wangEditor.config.printLog = false;
				editor = new wangEditor("textareaPC");
				editor.config.menus = [
        		'source',
        		'|',
        		'bold',
        		'underline',
        		'italic',
        		'strikethrough',
        		'eraser',
        		'forecolor',
        		'bgcolor',
        		'|',
        		'quote',
        		'fontfamily',
        		'fontsize',
        		'head',
        		'unorderlist',
        		'orderlist',
        		'alignleft',
        		'aligncenter',
        		'alignright',
        		'|',
        		'link',
        		'unlink',
        		'table',
        		'emotion',
        		'|',
        		'video',
        		'location',
        		'insertcode',
        		'|',
        		'undo',
        		'redo',
        		'fullscreen'
    			];
				editor.create();
				$(".wangEditor-container").find('*').focus(function(event) {
					/* Act on the event */
					$(".wangEditor-container").addClass('textarea-focus');
				});
				$(".wangEditor-container").find('*').blur(function(event) {
					/* Act on the event */
					$(".wangEditor-container").removeClass('textarea-focus');
				});
			};
			var postEdit = {
				title: $("#post-title"),
				postForm: $(".post-form"),
				verificate: function() {
                    var myReg = /^[<p><br><\/p>]*$/;
					if (this.title.val().length == 0) {
						sweetAlert('格式错误', '请填写标题！', 'warning');
						return false;
					}
                    if (this.title.val().length > 20) {
                        sweetAlert('格式错误', '请设置20字符以内标题', 'warning');
                        return false;
                    }
                    if(mobile){
                        if (editor.val().length == 0) {
                            sweetAlert('格式错误', '请填写内容！', 'warning');
                            return false;
                        }
                    } else {
                        if (editor.$txt.html().length == 0 || myReg.test(editor.$txt.html())) {
                            sweetAlert('格式错误', '请填写内容！', 'warning');
                            return false;
                        }
                    }
					return true;
				},
				bindEvent: function() {
					var self = this;
					self.postForm.submit(function() {
						event.preventDefault();
						if (self.verificate()) {
							$.ajax({
								type: "post",
								url: "/postEdit/<%=result%>",
								async: true,
								data: {
									user_id: localStorage.getItem("userID"),
									title: self.title.val(),
									text: mobile == true ? editor.val() : editor.$txt.html()
								},
								success: function(data) {
									console && console.log(data);
									if (data.data.code == 0 && data.data.msg) {
										sweetAlert('提示', data.data.msg, 'warning');
									} else {
										window.location.href = '/topic/' + data.data.info.post_base_id;
									}
								},
								error: function(x, h, r) {
									console && console.log(x, h, r);
								}
							});
						}
					});
				},
				init: function() {
					this.bindEvent();
				}
			}
			postEdit.init();
		</script>
		<%- include base/footer.ejs %>