<%- include base/header.ejs %>
<div class="main ">
<h1 class="message-title"><a class="text-link" href="/message" title="">消息中心</a></h1>
<div class="message-page">
    <div class="message-left">
        <ul>
            <li class="mtype12 active"><a class="meg-link" href="/message?mtype=1">通知</a></li>
            <li class="mtype3"><a class="meg-link" href="/message?mtype=3">私密星球申请</a></li>
        </ul>
    </div>
    <div class="message-right">
    <%if(result.code == 1){%>
        <%if(mtype == 1){%>    
        <ul class="message-right-tag clearfix">
            <li class="mtype mtype1 active">回复我的</li>
            <li class="mtype mtype2">其他通知</li>
        </ul>
        <div class="message-col">
            <% result.info.forEach(function(item) { %>
            <div data-id="<%=item.m_id%>" class="message clearfix">
                <div class="meg-reply-title">
                    <h3  class="text-ellipsis"><%=item.nickname%>：<%=item.replytext%></h3>
                    <div class="text-ellipsis"><span>回复我的主题：</span><%=item.posttitle%> > <%=item.groupname%></div>
                </div>
                <div class="meg-reply-time">
                    <div class="meg-time"><span><%=item.createTime%></span></div>
                    <%if(item.page){%>
                    <a href="/topic/<%=item.postID%>?page=<%=item.page%>&rf=<%=item.replyfloor%>" class="meg-button reply">回复</a>
                    <%}else{%>
                    <a href="#" class="meg-button reply deleted-reply">回复</a>
                    <%}%>
                </div>
            </div>
            <% }) %> 
        <%}else{%>
            <ul class="message-right-tag clearfix">
                <li class="mtype mtype1">回复我的</li>
                <li class="mtype mtype2 active">其他通知</li>
            </ul>
            <div class="message-col">
            <% result.info.forEach(function(item) { %>
                <div class="message text-ellipsis" ><%=item.messageInfo%></div>
            <% }) %>
        <%}%>
        </div> 
        <%}else{%>
        <div class="emptyPage">
            您还没有消息哦
        </div>
        <%} %>
        <div class="page-turn">
            <%if(result.currentPage == 1){%>
            <button type="button" class="unCBtn" id="pre">上一页</button>
            <%}else{%>
            <button type="button" id="pre">上一页</button>
            <%}%>
            <span><%=result.currentPage%>/<%=result.pageCount%></span>
            <%if(result.currentPage == result.pageCount){%>
            <button type="button" class="unCBtn" id="next">下一页</button>
            <%}else{%>
            <button type="button" id="next">下一页</button>
            <%}%>
        </div>
    </div>
</div>
</div>
<%- include base/baseJS.ejs %>
<script type="text/html" id="mtype1">
    {{each info as item i}}
    <div data-id="{{item.m_id}}" class="message clearfix">
        <div class="meg-reply-title">
            <h3 class="text-ellipsis">{{item.nickname}}：{{item.replytext}}</h3>
            <div class="text-ellipsis"><span>回复我的主题：</span>{{item.posttitle}} > {{item.groupname}}</div>
        </div>
        <div class="meg-reply-time">
            <div class="meg-time"><span>{{item.createTime}}</span></div>
            {{if item.page}}
            <a href="/topic/{{item.postID}}?page={{item.page}}&rf={{item.replyfloor}}" class="meg-button reply">回复</a>
            {{else}}
            <a href="#" class="meg-button reply deleted-reply">回复</a>
            {{/if}}
        </div>
    </div>
    {{/each}}
</script>

<script type="text/html" id="mtype2">
    {{each info as item i}}
        <div class="message text-ellipsis" >{{item.messageInfo}}</div>
    {{/each}}
</script>

<script type="text/javascript">
    (function() {
        var message = {
            pre: $("#pre"),
            next: $("#next"),
            page: $(".page-turn").find('span').eq(0),
            main: $('.message-col'),
            loading: $(".loading"),
            pageCount: parseInt("<%=result.pageCount%>"),
            mtype: global.getUrlParam('mtype') || 1,
            getServerData: function(param, cb) {
                global.getData("/api/getMessageShow", param, cb);
            },
            postApplyPrivate: function(param, cb) {
                global.getData("/api/applyPrivateGroup");
            },
            updateAll: function(){
                var self = this;
                var pageNow = global.getPageNow();
                var mtype = global.getUrlParam('mtype') || 1;
                self.mtype = mtype;
                self.loading.show();
                self.getServerData({
                    currentpage: pageNow,
                    mtype: self.mtype
                }, function(data) {
                    if(data.ret == 200 && data.data.code === 0) {
                   
                        self.main.html("<div class='emptyPage'>您还没有消息哦</div>")
                        $('.page-turn').hide();
                        self.loading.hide();
                        return
                    }
                    if (data.ret == 200 && data.data && data.data.code === 1) {
                        $('.page-turn').show();
                        if (self.mtype == 2) {
                            $('.mtype').removeClass('active')
                            $('.mtype2').addClass('active')
                        }
                        self.loading.hide();
                        var compiled = template("mtype" + mtype, data.data);
                        self.main.html(compiled);
                        
                        self.page.text(data.data.currentPage + '/' + data.data.pageCount);
                        global.setPageCount(data.data.pageCount);
                        self.pre.removeAttr('class');
                        self.next.removeAttr('class');
                        if (data.data.currentPage == 1) {
                            self.pre.addClass('unCBtn');
                        }
                        if (data.data.currentPage == data.data.pageCount) {
                            self.next.addClass('unCBtn')
                        }
                        $(window).scrollTop(0);
                    } else {
                        self.loading.hide();
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                });
            },
            deletedReply:function(){
                var mid = $(this).parents('.message').attr('data-id');
                swal({
                    title:'提示',
                    text: '此回复已被删除',
                    type: 'warning',
                    timer: 2000
                }).catch(swal.noop);
                // 消息已读接口处理预留
                global.subData("/api/readDeletedMessage",{ m_id: mid});
                $(this).parents('.message').remove();
            },
            bindType: function() {
                var mtypeButton1 = $('.mtype1');
                var mtypeButton2 = $('.mtype2');
                var self = this;

                var bindTypeEvents = function(Jobject, mtype) {
                    //console.log(Jobject)
                    Jobject.on("click", function() {
                        self.mtype = mtype;
                        mtypeButton1.removeClass("active");
                        mtypeButton2.removeClass("active");
                        $(this).addClass("active");

                        var newURL = location.pathname +  '?mtype=' + mtype;
                        history.pushState(null,'',newURL);   
                        global.changeEverPushed();
                        self.updateAll();        
                    })
                };
                bindTypeEvents(mtypeButton1, 1);
                bindTypeEvents(mtypeButton2, 2);
            },

            bindEvent: function() {
                var self = this;
                global.setPageCount(self.pageCount);
                global.pageTurning.apply(self,["#pre","#next",self.updateAll]);
                $(document).on('click', '.deleted-reply', function(event) {
                    event.preventDefault();
                    self.deletedReply.apply($(this));
                });
                this.bindType();
            },
            init: function() {
                $('.message-right').css({'min-height': $(window).height() - 120 + 'px'})
                this.bindEvent();
            }
        }
        message.init();
    })();
</script>
<%- include base/footer.ejs %>