<%- include base/headerMobile.ejs %>
<div class="main">
    <form action="/search/r" method="get" accept-charset="utf-8" class="gl-search">
        <input type="text" name="text" value="<%=searchText%>" placeholder="搜素">
        <button></button>
    </form>
    <div class="resultShow">
        <h1 class="rsH">星球</h1>
        <%if(result.group.length > 0){%>
        <ul class="clearfix" id="planetList">
            <% result.group.forEach(function(item) { %>
            <li class="planet-item clearfix ">
                <div class="planet-pic">
                    <a href="/group/<%=item.id%>" title=""><img src="<%-item.g_image%>" alt=""></a>
                </div>
                <div class="planet-info">
                    <h2 class="text-ellipsis"><a href="/group/<%=item.id%>" title=""><%=item.name%></a></h2>
                    <p>
                        <%=item.g_introduction%>
                    </p>
                </div>
            </li>
            <% }); %>
        </ul>
        <%if(result.GroupPage > 1){%>
        <div class="showMore">
            <a href="/search/r/g?text=<%=searchText%>">查看更多</a>
        </div>
        <%}%>
        <%}else{%>
        <div class="noFind">
            没有找到相关星球
        </div>
        <%}%>
    </div>
    <hr class="rsdivision">
    <div class="resultShow">
        <h1 class="rsH">帖子</h1>
        <%if(result.posts.length > 0){%>
        <div class="chapter-col">
            <% result.posts.forEach(function(item) { %>
            <div class="chapter">
                <h2 class="text-ellipsis"><a href="/topic/<%=item.postID%>" title="<%=item.title%>"><%=item.title%></a></h2>
                <div class="chapter-info">
                    <span class="text-ellipsis"><a href="#?" title=""><%=item.nickname%></a></span>
                    <span class="cha-icon"></span>
                    <span class="text-ellipsis"><a href="/group/<%=item.groupID%>" title=""><%=item.groupName%></a></span>
                    <span class="cha-time"><%=item.createTime%></span>
                </div>
                <div class="chapter-text">
                    <%=item.text%>
                </div>
            </div>
            <% }); %>
        </div>
        <%if(result.PostsPage > 1){%>
        <div class="showMore">
            <button class="showMoreBtn">显示更多</button>
            <div class="loading" style='display: none;position:absolute;' id="psloading">
                <div class='uil-default-css' style="-webkit-transform:scale(0.2);transform: scale(0.2);">
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                    <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                </div>
            </div>
        </div>
        <div class="showLoaded" style="display:none;">
            已经加载全部内容
        </div>
        <%}else{%>
        <div class="showLoaded">
            已经加载全部内容
        </div>
        <%}%>
        <%}else{%>
        <div class="noFind">
            没有找到相关帖子
        </div>
        <%}%>
    </div>
</div>
<%- include base/baseJSMobile.ejs %>
<script>
    (function(){
        $('.gl-search').submit(function(event){
            var text = $.trim($('.gl-search').children('input').val());
            if (text.length<1){
                return false;
            } else{
                $('.gl-search').children('input').val(text);
                return true;
            }
        });
    })();
</script>
<script type="text/html" id="postlist">
    {{each posts as item i}}
    <div class="chapter">
        <h2 class="text-ellipsis"><a href="/topic/{{item.postID}}" title="{{item.title}}">{{item.title}}</a></h2>
        <div class="chapter-info">
            <span class="text-ellipsis"><a href="#?" title="">{{item.nickname}}</a></span>
            <span class="cha-icon"></span>
            <span class="text-ellipsis"><a href="/group/{{item.groupID}}" title="">{{item.groupName}}</a></span>
            <span class="cha-time">{{item.createTime}}</span>
        </div>
        <div class="chapter-text">{{item.text}}</div>
    </div>
    {{/each}}
</script>
<script>
    (function(){
        var sr = {
            postList: $('.chapter-col'),
            postPage:1,
            postCount: parseInt("<%=result.PostsPage%>"),
            searchText: "<%=searchText%>", 
            psBtn:$('.showMoreBtn'),
            showLoaded: $('.showLoaded'),
            loading:$('#psloading'),
            addpost:true,
            addpostScroll:true,
            getPostData: function(param, cb){
                global.getData("/api/getSearchPost", param, cb);
            },
            addPostData: function(){
                var self =  this;
                if (self.postPage >= self.postCount) {
                    return;
                } else{
                    self.loading.show();
                    self.psBtn.html("");
                    self.getPostData({
                        text: self.searchText,
                        pnum: 20,
                        pn: self.postPage + 1
                    },function(data){
                        if (data.ret == 200 && data.data && data.data.posts.length >0) {
                            var compiled = template("postlist", data.data);
                            self.postList.append(compiled);
                            self.postPage++;
                            if (self.postPage ==  self.postCount) {
                                self.psBtn.remove();
                                self.showLoaded.show();
                            }
                            self.loading.hide();
                            self.psBtn.html("更多");
                            self.addpostScroll = true;
                        } else{
                            self.loading.hide();
                            self.psBtn.html("数据加载失败，请点击重试");
                        }
                        self.addpost = true;
                    });
                }
            },
            bindEvent:function(){
                var self = this;
                self.psBtn.on('touchend', function(event) {
                    if (self.addpost) {
                        self.addpost = false;
                        self.addpostScroll = false;
                        self.addPostData.apply(self);
                    }
                });
                $('.mainContainer').on('scroll', function(event) {
                    var mainHeight = $('.main').height();
                    var windowHeight = $('.mainContainer').height();
                    var scrollHeight = mainHeight - windowHeight;
                    //console.log(mainHeight + ','+windowHeight + ','+ scrollHeight+ ','+$('.mainContainer').scrollTop());
                    if ($('.mainContainer').scrollTop() >= (scrollHeight - 10)) {
                        if (self.addpost && self.addpostScroll) {
                            self.addpost = false;
                            self.addpostScroll = false;
                            self.addPostData.apply(self);
                        }
                    }
                });
            },
            init:function(){
                this.bindEvent();
            }
        }
        sr.init();
    })();
</script>
<%- include base/footerMobile.ejs %>