<%- include base/header.ejs %>
<div id="content" class="search-content">
    <div class="section planets-section">
        <div class="section-hd">
            <span>相关星球</span>
        </div>
        <div class="section-content planets-section-container">
            <div class="planets-container-entries">
               <div class="planets-container-entry">
               		<div class="planets-entry-profile">
               			<img>
               		</div>
               		<div class="planets-entry-detail">
               			<span class="detail-planet">我们都是技术宅</span>
               			<span class="detail-info">我们都是技术宅来阿里阿ddd...</span>
               		</div>
               </div>
               <div class="planets-container-entry">
               		<div class="planets-entry-profile">
               			<img>
               		</div>
               		<div class="planets-entry-detail">
               			<span class="detail-planet">我们都是技术宅</span>
               			<span class="detail-info">我们都是技术宅来阿里阿ddd...</span>
               		</div>
               </div>
               <div class="planets-container-entry">
               		<div class="planets-entry-profile">
               			<img>
               		</div>
               		<div class="planets-entry-detail">
               			<span class="detail-planet">我们都是技术宅</span>
               			<span class="detail-info">我们都是技术宅来阿里阿ddd...</span>
               		</div>
               </div>               
            </div>
            <div class="planets-section-container-more">
            	<button type="button">更多相关信息</button>
            </div>
        </div>            
    </div>

    <div class="section posts-section">
        <div class="section-hd">
            <span>相关星球</span>
        </div>
        <div class="section-content posts-section-container">
            <div class="posts-section-entries">
                <div class="posts-section-entry">
                	<div class="entry-item posts-entry-info">
                		<img>
                		<span>淘淘  发表于  鬼扯天地</span>
                		<span>2017-01-28 22:41</span>
                	</div>
                	<div class="entry-item posts-entry-title">
                		<h1>Ubuntu开荒笔记</h1>
                	</div>

                	<div class="entry-item posts-entry-body">
                		<p>
                            安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件...
                        </p>
                	</div>
                </div>
                
                <div class="posts-section-entry">
                	<div class="entry-item posts-entry-info">
                		<img>
                		<span>淘淘  发表于  鬼扯天地</span>
                		<span>2017-01-28 22:41</span>
                	</div>
                	<div class="entry-item posts-entry-title">
                		<h1>Ubuntu开荒笔记</h1>
                	</div>

                	<div class="entry-item posts-entry-body">
                		<p>
                            安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件安装后。终端操作：sudo apt updatesudo apt upgrade重启，执行上述update命令一次，然后执行：sudo apt install ***常用的软件...
                        </p>
                	</div>
                </div>
            </div>
        </div>            
    </div>
</div>
<%- include base/baseJS.ejs %>

<%- include base/footerMobile.ejs %>


<script>
/*    (function() {
        var personal = {
            name:$('.personal-state.personal-logfont'),
            photo:$('.personal-personIcon > img'),
            state : $('.personal-state'),
            info : $('.personal-information'),
            changepwd : $('.personal-changepwd'),
            collection : $('.personal-collection'),
            invite : $('.personal-invitefriend'),
            exit: $('#exit'),
            getServerData: function(param, cb) {
                
            },
            bindEvent: function() {
                var that = this;

                that.state.on('click',function(e){
                    <%if(!user){%>
                    window.location.href = window.location.pathname + "/personalInfo";
                    <%}%>
                });

                that.info.on('click',function(e){
                    window.location.href = window.location.pathname + "/personalInfo";
                });
                that.changepwd.on('click',function(e){
                    window.location.href = window.location.pathname + "/changepassword";
                });
                that.collection.on('click',function(e){
                    window.location.href = window.location.pathname + "/myCollection";
                });
                that.invite.on('click',function(e){
                    window.location.href = window.location.pathname + "/invite";
                });

                that.exit.on('click',function(e){
                    //退出登录
                    window.location.href = window.location.pathname +"/logout";
                });
            },
            init: function() {
                var that = this;
                wuanHeadFun.tabHighlight("tab-head-myself");
                wuanHeadFun.title('我的');
                <% if(user) {%>
                    that.name.html('<%= user.user_name %>');
                    global.subData('/personal',{userId:<%= user.user_id%>},function(data){
                        if(data.data){
                            that.photo.attr('src',data.data.profile_picture);
                        }else{
                            swal('错误',data.msg,'error');
                        }    
                        
                    });
                    
                <% }else{ %>
                    that.name.html('未登录');
                <% } %>
                that.bindEvent();
            }
        }
        personal.init();
    })();*/
</script>
