<%- include base/header.ejs %>
<div class="main">
    <div class="resultShow">
        <h1 class="rsH">星球</h1>
        <%if(result.group.length > 0){%>
        <ul class="planetList clearfix">
            <% result.group.forEach(function(item) { %>
            <li class="planet-item clearfix col-sm-4">
                <div class="planet-pic">
                    <a href="/group/<%=item.id%>" title="<%=item.name%>"><img src="<%-item.g_image%>" alt=""></a>
                </div>
                <div class="planet-info">
                    <h2 class="text-ellipsis"><a href="/group/<%=item.id%>" title="<%=item.name%>"><%=item.name%></a></h2>
                    <p>
                        <%-item.g_introduction%>
                    </p>
                </div>
            </li>
            <% }); %>
        </ul>
        <%if(result.GroupPage > 1){%>
        <div class="showMore">
            <button class="showMoreBtn" id="gsBtn">查看更多</button>
             <div class="loading" style='display: none;position:absolute;' id="gsloading">
            <div class='uil-default-css' style="-webkit-transform:scale(0.2);transform: scale(0.2);">
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            </div>
        </div>
        </div>
        <%}%>
        <%}else{%>
        <div class="noFind">
            没有找到相关星球
        </div>
        <%}%>
    </div>
    <div class="resultShow">
        <h1 class="rsH">帖子</h1>
        <%if(result.posts.length > 0){%>
        <div class="chapter-col">
            <% result.posts.forEach(function(item) { %>
            <div class="chapter">
                <h2><a href="/topic/<%=item.postID%>" title="<%-item.title%>"><%-item.title%></a></h2>
                <div class="chapter-text">
                    <%-item.text%>
                </div>
                <div class="chapter-info">
                    <span class="text-ellipsis"><a href="#?" title="<%=item.nickname%>"><%=item.nickname%></a></span>
                    <span class="postIn">发表于</span>
                    <span class="text-ellipsis"><a href="/group/<%=item.groupID%>" title="<%=item.groupName%>"><%=item.groupName%></a></span>
                    <span class="cha-time"><%=item.createTime%></span>
                </div>
            </div>
            <% }); %>
        </div>
        <%if(result.PostsPage > 1){%>
        <div class="showMore">
            <button class="showMoreBtn" id="psBtn">更多</button>
             <div class="loading" style='display: none;position:absolute;' id="psloading">
            <div class='uil-default-css' style="-webkit-transform:scale(0.2);transform: scale(0.2);">
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
                <div style='top:80px;left:93px;width:14px;height:40px;background:#00b2ff;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            </div>
        </div>
        </div>
        <%}%>
        <%}else{%>
        <div class="noFind">
            没有找到相关帖子
        </div>
        <%}%>
    </div>
</div>
<%- include base/baseJS.ejs %>
<script type="text/html" id="grouplist">
    {{each group as item i}}
    <li class="planet-item clearfix col-sm-4">
        <div class="planet-pic">
            <a href="/group/{{item.id}}" title="{{item.name}}"><img src="{{#item.g_image}}" alt=""></a>
        </div>
        <div class="planet-info">
            <h2 class="text-ellipsis"><a href="/group/{{item.id}}" title="{{item.name}}">{{item.name}}</a></h2>
            <p>{{#item.g_introduction}}</p>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/html" id="postlist">
    {{each posts as item i}}
    <div class="chapter">
        <h2><a href="/topic/{{item.postID}}" title="{{#item.title}}">{{#item.title}}</a></h2>
        <div class="chapter-text">{{#item.text}}</div>
        <div class="chapter-info">
            <span class="text-ellipsis"><a href="#?" title="{{item.nickname}}">{{item.nickname}}</a></span>
            <span class="postIn">发表于</span>
            <span class="text-ellipsis"><a href="/group/{{item.groupID}}" title="{{item.groupName}}">{{item.groupName}}</a></span>
            <span class="cha-time">{{item.createTime}}</span>
        </div>
    </div>
    {{/each}}
</script>
<script>
(function(){
    var sr = {
        searchCon: $('#searchCon'),
        gsBtn: $('#gsBtn'),
        psBtn:$('#psBtn'),
        gsloading:$('#gsloading'),
        psloading:$('#psloading'),
        groupList: $('.planetList'),
        postList: $('.chapter-col'),
        groupPage:1,
        postPage:1,
        groupCount: parseInt("<%=result.GroupPage%>"),
        postCount: parseInt("<%=result.PostsPage%>"),
        searchText: "<%=searchText%>", 
        addpost:true,
        setSearchVal: function(){
            this.searchCon.val(this.searchText);
        },
        getGroupData: function(param, cb){
            global.getData("/api/getSearchGroup", param, cb);
        },
        getPostData: function(param, cb){
            global.getData("/api/getSearchPost", param, cb);
        },
        addGroupData:function(){
            var self = this;
            if (self.groupPage >= self.groupCount) {
                return;
            } else{
                self.gsloading.show();
                self.gsBtn.html("");
                self.getGroupData({
                    text: self.searchText,
                    gnum: 3,
                    gn: self.groupPage + 1
                },function(data){
                    if (data.ret == 200 && data.data && data.data.group.length >0) {
                        var compiled = template("grouplist", data.data);
                        self.groupList.append(compiled);
                        self.groupPage++;
                        if (self.groupPage ==  self.groupCount) {
                            self.gsBtn.remove();
                        }
                    } else{
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                    self.gsloading.hide();
                    self.gsBtn.html('查看更多');
                });
            }
        },
        addPostData: function(){
            var self =  this;
            if (self.postPage >= self.postCount) {
                return;
            } else{
                self.psloading.show();
                self.psBtn.html("");
                self.getPostData({
                    text: self.searchText,
                    pnum: 20,
                    pn: self.postPage + 1
                },function(data){
                    if (data.ret == 200 && data.data && data.data.posts.length >0) {
                        var compiled = template("postlist", data.data);
                        self.postList.append(compiled);
                        self.postPage++;
                        if (self.postPage ==  self.postCount) {
                            self.psBtn.remove();
                        }
                    } else{
                        sweetAlert('错误', '数据获取失败', 'error');
                    }
                    self.psloading.hide();
                    self.psBtn.html("更多");
                    self.addpost = true;
                });
            }
        },
        bindEvent:function(){
            var self = this;
            self.gsBtn.on('click', function(event) {
                self.addGroupData.apply(self);
            });
            self.psBtn.on('click', function(event) {
                if (self.addpost) {
                    self.addpost = false;
                    self.addPostData.apply(self);
                }
            });
            $(window).on('scroll', function(event) {
                /* Act on the event */
                var mainHeight = $('.main').outerHeight();
                var windowHeight = $(window).height();
                var scrollHeight = mainHeight - windowHeight;
                // console.log(mainHeight + ','+windowHeight + ','+ scrollHeight+ ','+$(window).scrollTop());
               if ($(window).scrollTop() == scrollHeight) {
                    if (self.addpost) {
                        self.addpost = false;
                        self.addPostData.apply(self);
                    }
               }
            });
        },
        init:function(){
            this.setSearchVal();
            this.bindEvent();
        }
    }
    sr.init();
})();
</script>
<%- include base/footer.ejs %>