<%- include base/headerMobile.ejs %>
<div class="main">
	<div class="post-detail">
		<div class="post-md">
			<h1 class="post-title"><%-result.title%></h1>
			<div class="post-info clearfix">
				<span class="text-ellipsis"><a href="#?" title="<%=result.nickname%>"><%=result.nickname%></a></span>
				<span class="postIn">发表于</span>
				<span class="text-ellipsis"><a href="/group/<%=result.groupID%>" title="<%=result.groupName%>"><%=result.groupName%></a></span>
				<span class="post-time"><%=result.createTime%></span>
			</div>
			<div class="post-content">
				<%-result.text%>
			</div>
			<% if (result.stickyRight || result.deleteRight || result.lockRight) { %>
			<div class="post-opt">
				<% if (result.stickyRight) { %>
				<% if (result.sticky) { %>
				<button class="post-opt-item" id="stickBtn">取消置顶</button>
				<% } else { %>
				<button class="post-opt-item" id="stickBtn">置顶</button>
				<% } %>
				<% } %>
				<% if (result.deleteRight) { %>
				<button class="post-opt-item" id="delBtn">删除</button>
				<% } %>
				<% if (result.lockRight) { %>
				<% if (result.lock) { %>
				<button class="post-opt-item" id="lockBtn">取消锁帖</button>
				<% } else { %>
				<button class="post-opt-item" id="lockBtn">锁帖</button>
				<% } %>
				<% } %>
			</div>
			<% } %>
		</div>
		<div id="comment"></div>
		<% if (!result.lock) { %>
		<div class="my-comment">
			<h2>我的回复</h2>
			<form class="post-detail-form clearfix" method="post">
				<textarea name="" class="form-control" placeholder="内容"></textarea>
				<button type="submit" class="post-sub" id="myReplyBtn">发表回复</button>
			</form>
		</div>
		<% } %>
	</div>
</div>
<%- include base/baseJSMobile.ejs %>
<script type="text/html" id="listtemplate">
	{{each reply as item i}}
	<div class="post-cm-item" data-id="{{item.floor}}">
		<div class="post-cm-info clearfix">
			<span><a href="#?" title="{{item.nickname}}">{{item.nickname}}</a></span>
			<span class="post-cm-time">{{item.createTime}}</span>
		</div>
		<div class="post-cm-content">{{item.text}}</div>
	</div>
	{{/each}}
</script>
<script type="text/javascript">
	(function() {
		var postid = '<%=result.postID%>';
		var postReply = {
			pageCount: 0,
			loading: $(".loading"),
			comment:$('#comment'),
			post_opt: $(".post-opt"),
			post_up: $("#stickBtn"),
			post_edit: $("#editBtn"),
			post_delete: $("#delBtn"),
			post_lock:$('#lockBtn'),
			myReplyForm: $(".post-detail-form"),
			myReplyContent: $(".post-detail-form").children('textarea'),
			myReplyBtn: $('#myReplyBtn'),
			isSticky: parseInt("<%=result.sticky%>"),
			isLock: parseInt("<%=result.lock%>"),
			verificate: function() {
				if (this.myReplyContent.val().length < 1) {
					sweetAlert('格式错误', '回复内容不能为空', 'warning');
					return false;
				}
				return true;
			},
			getReplyData: function(param, cb) {
				global.getData("/api/getPostReplys", param, cb);
			},
			setReplyData: function(set,floor) {
				var self = this;
				var pageNow = global.getPageNow();
				self.getReplyData({
					currentpage: pageNow,
					post_id: parseInt("<%=result.postID%>")
				}, function(data) {
					if (pageNow != global.getPageNow()) {
						return;
					}
					if (data.ret == 200 && data.data && data.data.reply.length > 0) {
						var compiled = template("listtemplate", data.data);
						var reply = '<div class="post-comment"><h2>' + data.data.replyCount +'个回复</h2><div class="post-cm-group">' + compiled +  '</div><div class="page-turn"><button id="pre">上一页</button><span>'+pageNow + '/' + data.data.pageCount+'</span><button id="next">下一页</button></div></div>';
						self.comment.html(reply);
						self.pageCount = data.data.pageCount;
						if (set) {
							global.pageTurning.apply(self,["#pre","#next",self.pageCount,self.updateByPage]);
						}
						if (pageNow == 1) {
							$("#pre").addClass('unCBtn');
						}
						if (pageNow == data.data.pageCount) {
							$("#next").addClass('unCBtn');
						}
						if (pageNow>1) {
							var position = floor? $('[data-id =' + '"'+floor+'"' +']') : $(".post-comment");
							var postComY = position.position().top;
							var scroollY = postComY - $(".navbar").height();
							$('.mainContainer').scrollTop(scroollY);
						} else{
							var scroollY = floor? ($('[data-id =' + '"'+floor+'"' +']').position().top - $(".navbar").height()) :0;
							$('.mainContainer').scrollTop(scroollY);
						}
						if (!set) {
							self.loading.hide();
						}
					} else{
						if (!set) {
							self.loading.hide();
							sweetAlert('错误', '数据获取失败', 'error');
							return;
						}
						self.comment.html('');
					}
				});
			},
			updateByPage: function() {
				var self = this;
				var pageNow = global.getPageNow();
				self.loading.show();
				self.getReplyData({
					currentpage: pageNow,
					post_id: parseInt("<%=result.postID%>")
				}, function(data) {
					if (pageNow != global.getPageNow()) {
						return;
					}
					if (data.ret == 200 && data.data && data.data.reply.length > 0) {
						var compiled = template("listtemplate", data.data);
						$('.post-cm-group').html(compiled);
						$(".post-comment").children('h2').html(data.data.replyCount + '个回复');
						$(".page-turn").find('span').eq(0).html(pageNow + '/' + self.pageCount);
						$("#pre").removeAttr('class');
						$("#next").removeAttr('class');
						if (pageNow == 1) {
							$("#pre").addClass('unCBtn');
						}
						if (pageNow == data.data.pageCount) {
							$("#next").addClass('unCBtn');
						}
						self.loading.hide();
						if (pageNow>1) {
							var postComY = $(".post-comment").position().top;
							var scroollY = postComY - $(".navbar").height();
							$('.mainContainer').scrollTop(scroollY);
						} else{
							$('.mainContainer').scrollTop(0);
						}
					} else{
						self.loading.hide();
						sweetAlert('错误', '数据获取失败', 'error');
					}
				});
			},
			<% if (result.lockRight) { %>
			lockPost: function() {
				var self = this;
				switch (self.isLock) {
					//未锁定
					case 0:
						global.subData('/api/lockPost', {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) {
									self.isLock = 1;
									self.post_lock.text('取消锁帖');
									$('.my-comment').remove();
									self.myReplyForm = null;
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
						});
						break;
						//已锁定
					case 1:
						global.subData('/api/unlockPost', {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) {
									self.isLock = 0;
									self.post_lock.text('锁帖');
									$('.post-detail').append('<div class="my-comment"><h2>我的回复</h2><form class="post-detail-form clearfix" method="post"><textarea name="" class="form-control" placeholder="内容"></textarea><button type="submit" class="post-sub" id="myReplyBtn">发表回复</button></form></div>');
									self.myReplyForm = $(".post-detail-form");
									self.myReplyContent = $(".post-detail-form").children('textarea');
									self.myReplyForm.submit(function(event) {
										event.preventDefault();
										self.subReply.apply(self);
									});
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
						});
						break;
					default:
						console.log(self.isLock);
						sweetAlert('提示', "无操作权限", 'warning');
						break;
				}
			},
			<% } %>
			<% if (result.stickyRight) { %>
			upPost: function() {
				var self = this;
				console.log(self.isSticky);
				switch (self.isSticky) {
					// 还未置顶，帖子置顶操作
					case 0:
						global.subData("/api/stickyPost", {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							//console && console.log(data);
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) { //操作成功
									self.isSticky = 1;
									self.post_up.text("取消置顶");
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
						});
						break;
						// 已经置顶，取消置顶
					case 1:
						global.subData("/api/unstickyPost", {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							//console && console.log(data);
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) { //操作成功
									self.isSticky = 0;
									self.post_up.text("置顶");
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
						});
						break;
					default:
						console.log(self.isSticky);
						sweetAlert('提示', "无操作权限", 'warning');
						break;
				}
			},
			<% } %>
			<% if (result.deleteRight) { %>
			deletePost: function() {
				sweetAlert({
					title: '提示',
					text: '是否删除帖子',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: '删除',
					cancelButtonText: '取消'
				}, function() {
					global.subData("/api/deletePost", {
						post_id: parseInt("<%=result.postID%>")
					}, function(data) {
						console && console.log(data);
						if (data.ret == 200 && data.data) {
							if (data.data.code == 1) { //操作成功
								window.location.href = '/group/' + '<%=result.groupID%>';
							} else {
								sweetAlert('提示', data.data.re, 'warning');
							}
						} else {
							sweetAlert('错误', data.msg, 'error');
						}
					});
				});
			},
			<% } %>
			subReply: function() {
				var self = this;
				<% if (user) { %>
				if (self.verificate()) {
					self.loading.show();
					global.subData("/api/postReply", {
						post_id: parseInt("<%=result.postID%>"),
						text: self.myReplyContent.val()
					}, function(data) {
						//console && console.log(data);
						if (data.ret == 200) {
							if (data.data) {
								self.myReplyContent.val('');
								var page = parseInt((data.data.floor - 2)/30) + 1;
								if (page != global.getPageNow()) {
									var newURL = location.pathname + '?page=' + page;
									history.pushState(null,'',newURL);
									global.changeEverPushed();
								}
								self.setReplyData(false,data.data.floor);
							} else{
								self.loading.hide();
								sweetAlert('提示', '帖子已经被锁定', 'warning');
								$('.my-comment').remove();
								self.isLock = 1;
								self.post_lock.text('取消锁帖');
							}
						} else {
							self.loading.hide();
							sweetAlert('错误', data.msg, 'error');
						}
					});
				}
				<%} else {%>
				window.location.href = '/login';
				<%}%>
			},
			bindEvent: function() {
				var self = this;
				<% if (result.stickyRight) { %>
				self.post_up.on("touchend", self.upPost.bind(self));
				<% } %>
				<% if (result.deleteRight) { %>
				self.post_delete.on("touchend", self.deletePost);
				<% } %>
				<% if (result.lockRight) { %>
				self.post_lock.on('touchend', self.lockPost.bind(self));
				<% } %>
				self.myReplyForm.submit(function(event) {
					event.preventDefault();
					self.subReply.apply(self);
				});
			},
			init: function() {
				this.setReplyData(true);
				this.bindEvent();
			}
		}
		postReply.init();
	})();
</script>
<%- include base/footerMobile.ejs %>