<%- include base/header.ejs %>
<div class="main">
	<div class="post-detail">
		<div class="post-md">
			<h1 class="post-title"><%=result.title%></h1>
			<div class="post-info clearfix">
				<span><a href="" title="<%=result.nickname%>"><%=result.nickname%></a></span>
				<span>发表于</span>
				<span><a href="/group/<%=result.groupID%>" title="<%=result.groupName%>"><%=result.groupName%></a></span>
				<span class="post-time"><%=result.createTime%></span>
			</div>
			<div class="post-content">
				<%-result.text%>
			</div>
			<% if (result.stickyRight || result.editRight || result.deleteRight || result.lockRight || user) { %>
			<div class="post-opt">
				<% if (result.stickyRight) { %>
				<% if (result.sticky) { %>
				<button class="post-opt-item" id="stickBtn">取消置顶</button>
				<% } else { %>
				<button class="post-opt-item" id="stickBtn">置顶</button>
				<% } %>
				<% } %>
				<% if (result.editRight) { %>
				<a href="/topic/<%=result.postID%>/edit" title="" class="post-opt-item" id="editBtn">编辑</a>
				<% } %>
				<% if (result.deleteRight) { %>
				<button class="post-opt-item" id="delBtn">删除</button>
				<% } %>
				<% if (result.lockRight) { %>
				<% if (result.lock) { %>
				<button class="post-opt-item" id="lockBtn">取消锁帖</button>
				<% } else { %>
				<button class="post-opt-item" id="lockBtn">锁帖</button>
				<% } %>
				<% } %>
				<% if (user) { %>
				<% if (result.collect) { %>
				<button class="post-opt-item" id="collectBtn">取消收藏</button>
				<% } else { %>
				<button class="post-opt-item" id="collectBtn">收藏</button>
				<% } %>
				<% } %>
			</div>
			<% } %>
		</div>
		<div id="comment"></div>
		<% if (!result.lock) { %>
		<div class="my-comment">
			<h2>我的回复</h2>
			<form class="post-detail-form clearfix" method="post">
				<textarea name="" class="form-control" placeholder="内容"></textarea>
				<button type="submit" class="post-sub" id="myReplyBtn">发表回复</button>
			</form>
		</div>
		<% } %>
	</div>
</div>
<%- include base/baseJS.ejs %>
<script type="text/html" id="listtemplate">
	{{each reply as item i}}
	<div class="post-cm-item" data-id="{{item.floor}}">
		<div class="post-cm-info clearfix">
			<span><a href="#?" title="{{item.nickname}}">{{item.nickname}}</a></span>
			<span class="post-cm-time">{{item.createTime}}</span>
		</div>
		<div class="post-cm-content">{{if item.replynickname}}回复 @<a style="color:#062eb1" href="#?" title="{{item.replynickname}}">{{item.replynickname}}</a> : {{/if}}{{item.text}}</div>
		<div class="post-cm-opt clearfix">
			{{if !isLock}}
			<button class="post-cm-replyBtn">回复</button>
			{{/if}}
			{{if item.deleteRight}}
			<button class="post-cm-deleteBtn" data-target="{{item.floor}}">删除</button>
			{{/if}}
		</div>
		{{if !isLock}}
		<form method="post" class="post-cm-reply clearfix">
			<textarea class="form-control"></textarea>
			<button type="submit" class="post-sub" id="myReplyBtn">发表回复</button>
		</form>
		{{/if}}
	</div>
	{{/each}}
</script>
<script type="text/javascript">
	(function($) {
		var postReply = {
			pageCount: 0,
			loading: $(".loading"),
			comment:$('#comment'),
			post_md:$('.post-md'),
			post_opt: $(".post-opt"),
			post_up: $("#stickBtn"),
			post_edit: $("#editBtn"),
			post_delete: $("#delBtn"),
			post_lock: $('#lockBtn'),
			post_collect:$('#collectBtn'),
			isSticky: parseInt("<%=result.sticky%>"),
			isLock: parseInt("<%=result.lock%>"),
			isCollect: parseInt("<%=result.collect%>"),
			lockDisable:false,
			replyCount:0,
			verificate: function(textarea) {
				var replyText = $.trim(textarea.val());
				if (replyText.length < 1) {
					sweetAlert('格式错误', '回复内容不能为空', 'warning');
					return false;
				}
				if (replyText.length > 240) {
					sweetAlert('格式错误', '回复内容不能超过240个字符', 'warning');
					return false;
				}
				replyText = global.utf16toEntities(replyText);
				return replyText;
			},
			getReplyData: function(param, cb) {
				global.getData("/api/getPostReplys", param, cb);
			},
			setReplyData: function(set) {
				var self = this;
				var pageNow = global.getPageNow();
				self.loading.show();
				self.getReplyData({
					currentpage: pageNow,
					post_id: parseInt("<%=result.postID%>")
				}, function(data) {
					if (pageNow != global.getPageNow()) {
						return;
					}
					if (data.ret == 200 && data.data && data.data.reply.length > 0) {
						if ($('.post-comment').length == 0) {
							var replyMD = '<div class="post-comment"><h2></h2><div class="post-cm-group"></div><div class="page-turn"><button id="pre">上一页</button><span></span><button id="next">下一页</button></div></div>';
							self.comment.html(replyMD);
						}
						data.data.isLock = self.isLock;
						var compiled = template("listtemplate", data.data);
						$('.post-cm-group').html(compiled);
						$(".post-comment").children('h2').html(data.data.replyCount + '个回复');
						$(".page-turn").find('span').eq(0).html(data.data.currentPage + '/' + data.data.pageCount);
						self.pageCount = data.data.pageCount;
						self.replyCount = data.data.replyCount;
						global.setPageCount(self.pageCount);
						if (set) {
							global.pageTurning.apply(self,["#pre","#next",self.setReplyData]);
						}
						$("#pre").removeAttr('class');
						$("#next").removeAttr('class');
						if (data.data.currentPage == 1) {
							$("#pre").addClass('unCBtn');
						}
						if (data.data.currentPage == data.data.pageCount) {
							$("#next").addClass('unCBtn');
						}
						var rf = $('[data-id =' + global.getUrlParam('rf') +']');
						if (rf.length != 0 && set) {
							var scroollY = rf.offset().top - $(".navbar").height(); 
							$(window).scrollTop(scroollY);
						} else{
							if (data.data.currentPage > 1) {
								var postComY = $(".post-comment").offset().top;
								var scroollY = postComY - $(".navbar").height();
								$(window).scrollTop(scroollY);
							} else{
								$(window).scrollTop(0);
							}
						}
					} else{
						if (!set) {
							sweetAlert('错误', '数据获取失败', 'error');
						}
					}
					self.loading.hide();
				});
			},
			<% if (result.lockRight) { %>
			lockPost: function() {
				var self = this;
				switch (self.isLock) {
					//未锁定
					case 0:
						if (self.lockDisable) return;
						self.lockDisable = true;
						global.subData('/api/lockPost', {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) {
									self.isLock = 1;
									self.post_lock.text('取消锁帖');
									$('.my-comment').remove();
									$('.post-cm-replyBtn').remove();
									$('.post-cm-reply').remove();
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
							self.lockDisable = false;
						});
						break;
						//已锁定
					case 1:
						if (self.lockDisable) return;
						self.lockDisable = true;
						global.subData('/api/unlockPost', {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) {
									self.isLock = 0;
									self.post_lock.text('锁帖');
									$('.post-detail').append('<div class="my-comment"><h2>我的回复</h2><form class="post-detail-form clearfix" method="post"><textarea name="" class="form-control" placeholder="内容"></textarea><button type="submit" class="post-sub" id="myReplyBtn">发表回复</button></form></div>');
									$('.post-cm-opt').prepend('<button class="post-cm-replyBtn">回复</button>');
									$('.post-cm-opt').after('<form method="post" class="post-cm-reply clearfix"><textarea class="form-control"></textarea><button type="submit" class="post-sub" id="myReplyBtn">发表回复</button></form>');
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
							self.lockDisable = false;
						});
						break;
					default:
						console.log(self.isLock);
						sweetAlert('提示', "无操作权限", 'warning');
						break;
				}
			},
			<% } %>
			<% if (result.stickyRight) { %>
			upPost: function() {
				var self = this;
				self.post_up.attr('disabled', 'disabled');
				switch (self.isSticky) {
					// 还未置顶，帖子置顶操作
					case 0:
						global.subData("/api/stickyPost", {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							//console && console.log(data);
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) { //操作成功
									self.isSticky = 1;
									self.post_up.text("取消置顶");
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
							self.post_up.removeAttr('disabled');
						});
						break;
						// 已经置顶，取消置顶
					case 1:
						global.subData("/api/unstickyPost", {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							//console && console.log(data);
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) { //操作成功
									self.isSticky = 0;
									self.post_up.text("置顶");
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
							self.post_up.removeAttr('disabled');
						});
						break;
					default:
						console.log(self.isSticky);
						sweetAlert('提示', "无操作权限", 'warning');
						break;
				}
			},
			<% } %>
			<% if (result.deleteRight) { %>
			deletePost: function() {
				swal({
					title: '提示',
					text: '是否删除帖子',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: '删除',
					cancelButtonText: '取消'
				}).then(function() {
					global.subData("/api/deletePost", {
						post_id: parseInt("<%=result.postID%>")
					}, function(data) {
						//console && console.log(data);
						if (data.ret == 200 && data.data) {
							if (data.data.code == 1) { //操作成功
								window.location.href = '/group/' + '<%=result.groupID%>';
							} else {
								sweetAlert('提示', data.data.re, 'warning');
							}
						} else {
							sweetAlert('错误', data.msg, 'error');
						}
					});
				}).catch(swal.noop);
			},
			<% } %>
			deletePostReply: function(btn){
				swal({
					title: '提示',
					text: '是否删除该回复',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: '删除',
					cancelButtonText: '取消'
				}).then(function() {
					var floor = btn.attr('data-target');
					btn.attr('disabled', 'disabled');
					global.subData("/api/deletePostReply", {
						post_id: parseInt("<%=result.postID%>"),
						floor:floor
					}, function(data) {
						//console && console.log(data);
						if (data.ret == 200 && data.data) {
							if (data.data.code == 1) { //操作成功
								postReply.replyCount--;
								if (postReply.replyCount == 0) {
									$('.post-comment').remove()
								} else{
									$('[data-id =' + '"'+floor+'"' +']').remove();
									$('.post-comment').children('h2').html(postReply.replyCount+'个回复');
								}
							} else {
								sweetAlert('提示', data.data.re, 'warning');
								btn.removeAttr('disabled');
							}
						} else {
							sweetAlert('错误', data.msg, 'error');
							btn.removeAttr('disabled');
						}
					});
				}).catch(swal.noop);
			},
			<% if (user) { %>
			collectPost: function(){
				var self = this;
				self.post_collect.attr('disabled', 'disabled');
				switch (self.isCollect) {
					// 还未收藏，帖子收藏操作
					case 0:
						global.subData("/api/collectPost", {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							//console && console.log(data);
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) { //操作成功
									self.isCollect = 1;
									self.post_collect.text("取消收藏");
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
							self.post_collect.removeAttr('disabled');
						});
						break;
						// 已经收藏，取消置收藏
					case 1:
						global.subData("/api/uncollectPost", {
							post_id: parseInt("<%=result.postID%>")
						}, function(data) {
							//console && console.log(data);
							if (data.ret == 200 && data.data) {
								if (data.data.code == 1) { //操作成功
									self.isCollect = 0;
									self.post_collect.text("收藏");
								} else {
									sweetAlert('提示', data.data.re, 'warning');
								}
							} else {
								sweetAlert('错误', data.msg, 'error');
							}
							self.post_collect.removeAttr('disabled');
						});
						break;
					default:
						console.log(self.isCollect);
						sweetAlert('提示', "无操作权限", 'warning');
						break;
				}
			},
			<% } %>
			subReply: function(textarea,floor) {
				var self = this;
				<% if (user) { %>
				var text = self.verificate(textarea);
				if (text) {
					self.loading.show();
					global.subData("/api/postReply", {
						post_id: parseInt("<%=result.postID%>"),
						text: text,
						replyfloor:floor
					}, function(data) {
						//console && console.log(data);
						self.loading.hide();
						if (data.ret == 200) {
							if (data.data) {
								textarea.val('');
								postReply.replyCount++;
								if ($('.post-comment').length == 0) {
									var replyMD = '<div class="post-comment"><h2></h2><div class="post-cm-group"></div><div class="page-turn"><button id="pre" class="unCBtn">上一页</button><span>1/1</span><button id="next" class="unCBtn">下一页</button></div></div>';
									self.comment.html(replyMD);
								}
								$('.post-comment').children('h2').html(postReply.replyCount+'个回复');
								$('.post-cm-reply').hide();
								var replyData = {};
								data.data.deleteRight = 1;
								replyData.isLock = self.isLock;
								replyData.reply = [data.data];
								var compiled = template("listtemplate", replyData);
								$('.post-cm-group').append(compiled);
								var scroollY = ($('[data-id =' + data.data.floor +']').offset().top - $(".navbar").height());
								$(window).scrollTop(scroollY);
							} else{
								sweetAlert('提示', '帖子已经被锁定', 'warning');
								$('.my-comment').remove();
								$('.post-cm-replyBtn').remove();
								$('.post-cm-reply').remove();
								self.isLock = 1;
								self.post_lock.text('取消锁帖');
							}
						} else {
							sweetAlert('错误', data.msg, 'error');
						}
					});
				}
				<%} else {%>
				window.location.href = '/login';
				<%}%>
			},
			bindEvent: function() {
				var self = this;
				<% if (result.stickyRight) { %>
				self.post_up.on("click", self.upPost.bind(self));
				<% } %>
				<% if (result.deleteRight) { %>
				self.post_delete.on("click", self.deletePost);
				<% } %>
				<% if (result.lockRight) { %>
				self.post_lock.on('click', self.lockPost.bind(self));
				<% } %>
				<% if (user) { %>
				self.post_collect.on('click',self.collectPost.bind(self));
				<% } %>	
				$(document).on('submit', '.post-cm-reply,.post-detail-form', function(event) {
					event.preventDefault();
					/* Act on the event */
					var textarea = $(this).children('textarea');
					var floor = $(this).parent().attr('data-id') || 0;
					self.subReply.apply(self,[textarea,floor]);
				});
				$(document).on('click', '.post-cm-deleteBtn',function(event) {
					self.deletePostReply($(this));
				});
				$(document).on('click', '.post-cm-replyBtn', function(event) {
					$(this).parent().next().toggle();
				});
			},
			init: function() {
				this.setReplyData(true);
				this.bindEvent();
			}
		}
		postReply.init();
	})(jQuery);
</script>
<%- include base/footer.ejs %>