<%- include base/header.ejs %>
<div class="main">
    <div class="location clearfix user-manage">
        <h1><a href="" title="">成员管理</a></h1>
	</div>
	<h2 class="normal-user">普通成员</h2>
    <%if(result.code == 1 && result.info && result.info.length > 0){%>
    <div class="planet">
		<ul class="planetList clearfix">
			<% result.info.forEach(function(item) { %>
			<li class="planet-item clearfix col-sm-4" data-id="<%=item.user_id%>">
				<div class="planet-pic">
					<a href="#" title="<%=item.user_name%>"><img src="<%-item.user_image	%>"></a>
				</div>
				<div class="planet-info">
					<h2 class="text-ellipsis"><a href="#" title="<%=item.user_name%>"><%=item.user_name%></a></h2>
					<button type="button" class="delete-Btn" data-target="<%=item.user_id%>">删除</button>
				</div>
			</li>
			<% }); %>
		</ul>
	</div>
	<%}else{%>
	<div class="emptyPage">
        <% var msg = result.msg || '数据获取失败'%>
        <%=msg%>
	</div>
	<%}%>
</div>
<%- include base/baseJS.ejs %>
<script>
    (function() {
        var deleteManage = {
            groupid:<%=groupid%>,
            delMen: function(){
                var target = $(this).attr('data-target');
                var member = $(this).prev('h2').text();
                swal({
                    title: '删除成员',
                    text: '是否删除成员' + member,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消'
                }).then(function(){
                    $(this).off('click');
                    $(".loading").show();
                    global.subData("/api/deleteMember",{
                    groupid:<%=groupid%>,
                    memberid: target
                    },function(data){
                        //console.log(data);
                        $(".loading").hide();
                        if (data.ret == 200 && data.data) {
                            if (data.data.code == 1) {
                                sweetAlert({
                                    title: '提示',
                                    text: '成员删除成功',
                                    type: 'success',
                                    timer: 2000
                                });
                                $('[data-id =' + '"'+target+'"' +']').remove();
                            } else{
                                sweetAlert('错误', data.data.msg, 'error');
                            }
                        } else{
                            sweetAlert('错误', data.msg, 'error');
                            $(this).on('click', deleteManage.delMen);
                        }
                    });
                });      
            },
            bindEvent:function(){
                var self = this;
                $('.delete-Btn').on('click', self.delMen);
            },
            init: function() {
                this.bindEvent();
            }
        }
        deleteManage.init();
    })();
</script>
<%- include base/footer.ejs %>


