<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
        <link rel="stylesheet" type="text/css" href="<%-path%>stylesheets/sweetAlert.css">
        <link rel="stylesheet" type="text/css" href="<%-path%>stylesheets/globalMobile.css">
        <link rel="stylesheet" type="text/css" href="<%-path%>stylesheets/loading.css">
        <title><%=title%> - 午安网 - 过你想过的生活</title>
    </head>
    <body>
    <div class="container all-wrapper">
        <div class="navbar">
            <h1>午安网</h1>
            <button type="button" class="navbar-toggle"></button>
        </div>
        <div class="sidebarContainer">
            <div class="sidebar">
                <h1>午安网</h1>
                <ul class="navbar-option">
                    <li><a href="/" title="" class="navbar-icon navbar-option-item">首页</a></li>
                    <% if (user) { %>
                    <li><a href="/uGroup/<%=user.userID%>" title="" class="navbar-icon navbar-option-item">我的星球</a></li>
                    <% } %>
                    <li><a href="/allGroup" title="" class="navbar-icon navbar-option-item">全部星球</a></li>
                </ul>
                <ul class="navbar-account">
                    <% if (user) { %>
                    <li class="aLogged"><span title="" class="navbar-icon navbar-account-item"><%=user.nickname%></span></li>
                    <li class="aLogged"><a href="/logout" class="navbar-icon navbar-account-item">退出</a></li>
                    <% } else { %>
                    <li class="aNLog"><a href="/login" title="" class="navbar-icon navbar-account-item">登录</a></li>
                    <li class="aNLog"><a href="/register" title="" class="navbar-icon navbar-account-item">注册</a></li>
                    <% } %>
                </ul>
            </div>
        </div>